{% extends "base.html" %}
{% block content %}
<H1>網站開發人員</H1>

<img class="imgl" src="/static/images/about/jean2014.png">

<div class="card">
  <h5 class="card-header">高慧君</h5>
  <div class="card-body">
    <h5 class="card-title">學歷</h5>
    <p class="card-text">
        <Table class="table" style="width:100%">     
    <Tr>
      <td>國立臺灣師範大學資訊教育學系學士85級</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士<BR>電腦科學教育實驗室</td></Tr>    	
  </Table>
    </p>
  </div>
</div>
<img class="imgl" src="/static/images/about/dinowei.png">
<div class="card">
  <h5 class="card-header">魏仲良</h5>
  <div class="card-body">
    <h5 class="card-title">學歷</h5>
    <p class="card-text">
        <Table class="table" style="width:100%">
    <Tr><td>國立臺灣師範大學資訊教育學系學士88級</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士<BR>演算法與平行應用實驗室</td></Tr>     	
  </Table>
    </p>
  </div>
</div>

<img class="imgl" src="/static/images/about/yuan.png">
<div class="card">
  <h5 class="card-header">賴錦緣</h5>
  <div class="card-body">
    <h5 class="card-title">學歷</h5>
    <p class="card-text">
        <Table class="table" style="width:100%">
    <Tr><td>國立臺灣師範大學資訊教育學系學士83級</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士</td></Tr>
    <Tr><td>國立臺灣師範大學資訊教育研究所博士<BR>電腦科學教育實驗室</td></Tr>      	
  </Table>
    </p>
  </div>
</div>
<img class="imgl" src="/static/images/about/boy.png">
<div class="card">
  <h5 class="card-header">江其勳</h5>
  <div class="card-body">
    <h5 class="card-title">學歷</h5>
    <p class="card-text">
        <Table class="table" style="width:100%">
    <Tr><td>國立臺灣師範大學資訊教育學系學士86級</td></Tr>    
    <Tr><td>國立中山大學資訊管理研究所碩士</td></Tr>     	
  </Table>
    </p>
  </div>
</div>
{% endblock %}