{% extends "base.html" %}
{% load tz %}
{% block title %}Avatar{% endblock %}

{% block content %}

<div class="card">
  <h5 class="card-header">高慧君</h5>
  <div class="card-body">
    <h5 class="card-title">學歷</h5>
    <p class="card-text">
      <table class="table">
        <tr><td width=100px><img src="/static/images/jean2004.jpg" style="float:left;"></td><td>
           <Table class="table">     
    <Tr>
      <td>國立臺灣師範大學資訊教育學系學士85級</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士<BR>電腦科學教育實驗室</td></Tr>    	
  </Table>       
          </td></tr>
    </table>
    </p>
  </div>
  <div class="card-body">
    <h5 class="card-title">經歷</h5>
    <p class="card-text">
                  <table class="table">
        <tr><td width="300px"><img src="/static/images/about/experience1.png" width="290px"></td><td>
      <table class="table">    
    <Tr><td>臺北市立南港國中數學教師(1996.8~1998.7)</td></Tr>        
    <Tr><td>臺北市立南港國中電腦教師(1998.8~1999.7)</td></Tr>      
    <Tr><td>臺北市立南港高中資訊教師(1999.7~迄今)</td></Tr>    
    <Tr><td>英特爾e教師計畫資深教師(2001.7~2008.6)</td></Tr>   	
    <Tr><td>教育部高中資訊科技概論教科書審定委員(2006.8~2017.12)</td></Tr>    	
    <Tr><td>教育部高中資訊學科中心種子教師(2005.2~2015.12)</td></Tr>    		
    <Tr><td>臺北市自由軟體桌面應用推動及發展小組輔導員(2008.4~2016.12)</td></Tr> 	
  </table>
          </td></tr></table>
        </p>                    
  </div>
    
    
  <div class="card-body">
    <h5 class="card-title">著作</h5>
    <p class="card-text">     
            <table class="table">
        <tr><td width="200px"><img src="/static/images/about/book3.png" width="180px"></td><td>
        <Table class="table" style="width:100%">     
	<tr><td>動動手玩積木遊戲─使用Scratch 2.x，國小用書，松崗。2017出版。</td></tr>
	<tr><td>趣學Scratch─教孩子學編程。簡體中文。人民郵電出版社。2016出版。</td></tr>  
	<tr><td>程式設計輕鬆學─使用Scratch 2.x。松崗。2016出版。</td></tr>
	<tr><td>用積木玩程式設計─使用Scratch 2.x，國小用書。松崗。2015出版。</td></tr>
	<tr><td>程式設計邏輯訓練─使用Scratch。松崗。2013出版</td></tr>	 	
  </Table>
          </td></tr></table>
    </p>
  </div>  

  <div class="card-body">
    <h5 class="card-title">榮譽</h5>
    <p class="card-text">
                        <table class="table">
        <tr><td width="300px"><img src="/static/images/about/honor1.png" width="290px"></td><td>
		<table class="table">    
	<tr><td>臺北市106學年度優良教師</td></tr>  
	<tr><td>指導學生參加臺北市103學年度機器人競賽榮獲高中職創意組第1,3名</td></tr>	
  </Table> 
          </td></tr></table>
    </p>
  </div>      
</div>
{% endblock %}