{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% load tag %}
{% block content %}
<div id="btn-toolbar" class="btn-group mb-3">
  <a href="/account/dashboard/0" class="btn btn-sm btn-info" role="btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 所有訊息</a>
  <a href="/account/dashboard/1" class="btn btn-sm btn-info" role="btn"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 課程公告</a>
  <a href="/account/dashboard/2" class="btn btn-sm btn-info" role="btn"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 我的私訊</a>
  <a href="/account/line/" class="btn btn-sm btn-info active" role="btn"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 寄出私訊</a>
</div>
<ul class="list-group mb-3">
  {% for message in messages %}
  <li class="list-group-item">
    <a href="/account/line/detail/{{message.classroom_id|default:0}}/{{message.id}}">{{message.title}}</a>
    <div class="float-right">
      {% if message.reader_id %}
      <a href="/account/profile/{{message.reader_id}}" class="badge badge-warning">{{message.reader.first_name}}</a>
      {% else %}
        <span class="badge badge-info">{{ message.classroom }}</span>
      {% endif %}
      <span class="badge badge-light">{{message.time|date:"Y/m/d H:i"}}</span>
    </div>
  </li>
  {% endfor %}
</ul>

{% load pagination %}
{% get_pagination %}

{% endblock %}