{% extends "base.html" %}
{% block content %}
<H1>教材研發人員</H1>

<div class="card">
  <h5 class="card-header">Scratch動畫及遊戲創作程式設計</h5>
  <div class="card-body">
<table>
<tr><td><img src="/static/images/about/jean2014.png"></td></tr>
<tr><td>高慧君(南港高中)</td></tr>
</table>
  </div>
</div>
<BR>

<div class="card">
  <h5 class="card-header">VPhysics(Python)物理模擬程式設計</h5>
  <div class="card-body">
<table>
<tr>
<td><img src="/static/images/about/jean2014.png"><BR>高慧君(南港高中)</td>
<td><img src="/static/images/about/mfshih.png"><BR>石明豐(臺灣大學)</td>
</tr>
</table>
  </div>
</div>
<BR>

<div class="card">
  <h5 class="card-header">Django(Python)網站開發程式設計</h5>
  <div class="card-body">
<table>
<tr>
<td><img src="/static/images/about/jean2014.png"><BR>高慧君(南港高中)</td>
<td><img src="/static/images/about/dinowei.png"><BR>魏仲良(大直高中)</td>
</tr>
</table>
  </div>
</div>
<BR>

<div class="card">
  <h5 class="card-header">Euler(Python)數學解題程式設計</h5>
  <div class="card-body">
<table>
<tr>
<td><img src="/static/images/about/jean2014.png"><BR>高慧君(南港高中)</td>
<td><img src="/static/images/about/wu.png"><BR>吳秉鋒(華江高中)</td>
<td><img src="/static/images/about/yuan.png"><BR>賴錦緣(臺中科技大學)</td>
</tr>
</table>
  </div>
</div>
<BR>

<div class="card">
  <h5 class="card-header">Pandas(Python)數據分析程式設計</h5>
  <div class="card-body">
<table>
<tr>
<td><img src="/static/images/about/jean2014.png"><BR>高慧君(南港高中)</td>
<td><img src="/static/images/about/pecu.png"><BR>蔡芸琤(臺灣大學)</td>
<td><img src="/static/images/about/mfshih.png"><BR>石明豐(臺灣大學)</td>
</tr>
</table>
  </div>
</div>
<BR>

<div class="card">
  <h5 class="card-header">APCS(Python)大學先修程式設計</h5>
  <div class="card-body">
<table>
<tr>
<td><img src="/static/images/about/jean2014.png"><BR>高慧君(南港高中)</td>
<td><img src="/static/images/about/dinowei.png"><BR>魏仲良(大直高中)</td>
<td><img src="/static/images/about/kuo.png"><BR>郭再興(豐原高中)</td>
<td><img src="/static/images/about/johan.png"><BR>紀宗衡(真理大學)</td>
</tr>
</table>
  </div>
</div>
<BR>

<div class="card">
  <h5 class="card-header">Robot機器人(開放硬體)程式設計</h5>
  <div class="card-body">
<table>
<tr>
<td><img src="/static/images/about/jean2014.png"><BR>高慧君(南港高中)</td>
<td><img src="/static/images/about/lovewien.png"><BR>戴伶娟(南港高中)</td>
<td><img src="/static/images/about/cabit.png"><BR>王立忠(南港高中)</td>
</tr>
</table>
  </div>
</div>
<BR>
{% endblock %}