{% extends "base.html" %}
{% block header %}
    <script>    
    // 通常，當資料選項的變動性不大時，都會直接寫成 .js 檔含入即可。    
    var county = new Array();          
    var zone = new Array();
    var school_name = new Array();
    var school_id = new Array();
    {% for county, zone in district %}
       county[{{forloop.counter|add:-1}}] = [{{county.id}}, "{{county.name}}"];
       zone[{{forloop.counter|add:-1}}] = new Array();
       school_name[{{forloop.counter|add:-1}}] = new Array();     
       school_id[{{forloop.counter|add:-1}}] = new Array();      
       {% for q in zone %}
           zone[{{forloop.parentloop.counter|add:-1}}][{{forloop.counter|add:-1}}] =  [{{q.0.id}}, "{{q.0.name}}"];
           school_name[{{forloop.parentloop.counter|add:-1}}][{{forloop.counter|add:-1}}] = new Array();
           school_id[{{forloop.parentloop.counter|add:-1}}][{{forloop.counter|add:-1}}] = new Array();        
           {% for r in q.1 %}
               school_name[{{forloop.parentloop.parentloop.counter|add:-1}}][{{forloop.parentloop.counter|add:-1}}][{{forloop.counter|add:-1}}] = "{{r.name}}";
               school_id[{{forloop.parentloop.parentloop.counter|add:-1}}][{{forloop.parentloop.counter|add:-1}}][{{forloop.counter|add:-1}}] = "{{r.id}}";            
           {% endfor %}
       {% endfor %}
    {% endfor %}
    // 載入 master 選單，同時初始化 detail 選單內容    
    function loadMaster( master, detail, school ) 
    {    
      master.options.length = county.length;    
      for( i = 0; i < county.length; i++ ) 
      {    
        master.options[ i ] = new Option( county[i][1], county[i][0] );  
        // Option( text , value );    
      }    
      master.selectedIndex = {{school.county}}-1;    
      doNewMaster( master, detail, school );    
      doNewDetail( master, detail, school );
    }    
    // 當 master 選單異動時，變更 detail 選單內容    
    function doNewMaster( master, detail, school) {    
      detail.options.length = zone[ master.selectedIndex ].length;    
   
      for( i = 0; i < zone[ master.selectedIndex ].length; i++ ) 
      {    
        detail.options[ i ] = new Option( zone[ master.selectedIndex ][ i ][1],    
                                          zone[ master.selectedIndex ][ i ][0] );    
      }
      detail.selectedIndex = {{school.zone}}-1;         
      doNewDetail( master, detail, school );      
    }   
    // 當 detail 選單異動時，變更 school 內容    
    function doNewDetail( master, detail, schools) {     
      schools.options.length = school_name[ master.selectedIndex ][ detail.selectedIndex ].length;          
      for( i = 0; i < school_name[ master.selectedIndex ][ detail.selectedIndex ].length; i++ ) 
      {         
        schools.options[ i ] = new Option( school_name[ master.selectedIndex ][ detail.selectedIndex ][ i ],    
                                          school_id[ master.selectedIndex ][ detail.selectedIndex ][ i ] );    
      }
      schools.selectedIndex = {{school.id}}-1;        
    }     
</script>
{% endblock %}
{% block content %}
<body onload="loadMaster( document.getElementById( 'county' ), document.getElementById( 'zone' ) , document.getElementById( 'schools' ) );">
  <form action="." method="post">
<p><label for="id_last_name">學校名稱：</label>   <select class="form-control" name="county" id="county"     
        onChange="doNewMaster( document.getElementById( 'county' ),document.getElementById( 'zone' ), document.getElementById( 'schools' ));">    
   </select>    
   <select class="form-control" name="zone" id="zone" onChange="doNewDetail( document.getElementById( 'county' ),document.getElementById( 'zone' ), document.getElementById( 'schools' ));">    
   </select> 
    <select class="form-control" name="last_name" id="schools">
    </select>    
    </p>
                {% csrf_token %}   
    <p><input type="submit" value="送出"></p>
  </form>
  </form>
{% endblock %}