{% extends "base.html" %}
{% block content %}
<table>
  <Tr>
  <Td>
 <a href="." role="button" class="form-group form-inline btn btn-info {% if group == '0' and not account.strip %}active{% endif %}">所有班級</a>      
  </Td>
  <td>
    <form action=""  method="get">
<label class="form-group form-inline">搜尋教師：<input type="text" name = "account"><input type="submit" value="送出"/></label>
    </form>    
  </td>
  </Tr>
</table>
 
<table class="table">
<tr>
    <td>班級</td>
    <td>教師</td>
    <td>狀況</td>
</tr>
        {% for classroom, teacher_name, enroll in classroom_teachers %}
            <tr>
                <td>{{classroom.name}}({{classroom.lesson_choice}})</td>
                <td>{{teacher_name}}</td>
                <td>
                {% if enroll == 1 %}
                已加入
                {% else %}
                <a href="../enroll/{{classroom.id}}">加入此班級</a><br/>
                {% endif %}
                </td>
            </Tr>
        {% endfor %}
</table>
        {% load pagination %}
        {% get_pagination %}
{% endblock %}