{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" integrity="sha256-3iu9jgsy9TpTwXKb7bNQzqWekRX7pPK+2OLj3R922fo=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" integrity="sha256-QiWfLIsCT02Sdwkogf6YMiQlj4NE84MKkzEMkZnMGdg=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css" integrity="sha256-vtR0hSWRc3Tb26iuN2oZHt3KRUomwTufNIf5/4oeCyg=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github-gist.min.css" integrity="sha256-tAflq+ymku3Khs+I/WcAneIlafYgDiOQ9stIHH985Wo=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/css/basic/emojify.min.css" integrity="sha256-UOrvMOsSDSrW6szVLe8ZDZezBxh5IoIfgTwdNDgTjiU=" crossorigin="anonymous" />
<link rel="stylesheet" href="/static/layout/styles/markdown.css" />
{% endblock %}

{% block content %}
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% if lesson == "G01" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G01.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=1 %}
    </div>
    {% endif %}
  </div>
{% elif lesson == "G04" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G04.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=4 %}
    </div>
    {% endif %}
  </div>
{% elif lesson == "G05" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G05.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=5 %}
    </div>
    {% endif %}
  </div>
{% elif lesson == "G06" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G06.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=6 %}
    </div>
    {% endif %}
  </div>
{% elif lesson == "G07" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G07.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=7 %}
    </div>
    {% endif %}
  </div>
{% elif lesson == "G08" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G08.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=8 %}
    </div>
    {% endif %}
  </div>
{% elif lesson == "G09" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G09.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=9 %}
    </div>
    {% endif %}
  </div>
{% elif lesson == "G10" %}
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    -->
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/G10.html" %}
    </div>
    <!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitE.html" with index=10 %}
    </div>
    {% endif %}
  </div>
{% endif %}
{% endblock %}

{% block footer_script %}
<script src="/static/layout/scripts/markdown-menu.js"></script>
{% endblock %}