<SCRIPT language=JavaScript>
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>


{% extends "base.html" %}
{% load tag %}
{% block content %}
{% if subject_id == "A" %}
    <p><a href="/static/files/programming_scratch.pdf" target=_blank role="button" class="btn btn-info">教材簡介</a></p>
    <img style="margin-left:20px; vertical-align:text-bottom" src="/static/images/scratch/banner.png"> 高慧君著 松崗出版

		<table style="border:0px; width:900px;">
		<tr>
		<td>
    {% if false %}
		  <img name="menu01" src="/static/images/scratch/lesson01L.png">
    {% else %}	     
			<a onmouseover="MM_swapImage('menu01','','/static/images/scratch/lesson012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A001"><img name="menu01" src="/static/images/scratch/lesson01.png"></a>
    {% endif %}
      </td>
		<td>
 		{% if false %}
		  <img name="menu02" src="/static/images/scratch/lesson02L.png">
    {% else %}	     
   		<a onmouseover="MM_swapImage('menu02','','/static/images/scratch/lesson022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A002"><img name="menu02" src="/static/images/scratch/lesson02.png"></a>
		{% endif %}
      </td>
		<td>
 		{% if false %}
		  <img name="menu03" src="/static/images/scratch/lesson03L.png">
    {% else %}	        
			<a onmouseover="MM_swapImage('menu03','','/static/images/scratch/lesson032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A003"><img name="menu03" src="/static/images/scratch/lesson03.png"></a>
    {% endif %}
    </td>  
		</td>
    </tr>      
    <tr>
		<td>
 		{% if false %}
		  <img name="menu04" src="/static/images/scratch/lesson04L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu04','','/static/images/scratch/lesson042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A004"><img name="menu04" src="/static/images/scratch/lesson04.png"></a>
    {% endif %}
    <td>
 		{% if false %}
		  <img name="menu05" src="/static/images/scratch/lesson05L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu05','','/static/images/scratch/lesson052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A005"><img name="menu05" src="/static/images/scratch/lesson05.png"></a>
    {% endif %}
    </td>
		<td>
 		{% if false %}
		  <img name="menu06" src="/static/images/scratch/lesson06L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu06','','/static/images/scratch/lesson062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A006"><img name="menu06" src="/static/images/scratch/lesson06.png"></a>
		{% endif %}
    </td>
		</tr>
		<tr>      
		<td>
 		{% if false %}
		  <img name="menu07" src="/static/images/scratch/lesson07L.png">
    {% else %}
			<a onmouseover="MM_swapImage('menu07','','/static/images/scratch/lesson072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A007"><img name="menu07" src="/static/images/scratch/lesson07.png"></a>
		{% endif %}
    </td>
		<td>
 		{% if false %}
		  <img name="menu08" src="/static/images/scratch/lesson08L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu08','','/static/images/scratch/lesson082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A008"><img name="menu08" src="/static/images/scratch/lesson08.png"></a>
		{% endif %}
    </td>		
		<td>
    {% if false %}
		  <img name="menu09" src="/static/images/scratch/lesson09L.png">
    {% else %}     
			<a onmouseover="MM_swapImage('menu09','','/static/images/scratch/lesson092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A009"><img name="menu09" src="/static/images/scratch/lesson09.png"></a>
    {% endif %}
    </td>
		</tr>
		<tr>      
		<td>
    {% if false %}
		  <img name="menu10" src="/static/images/scratch/lesson093L.png">
    {% else %}       
			<a onmouseover="MM_swapImage('menu10','','/static/images/scratch/lesson094.png',1);" onmouseout=MM_swapImgRestore() href="/student/exam/"><img name="menu10" src="/static/images/scratch/lesson093.png"></a>
		{% endif %}
    </td>
		<td>
    {% if false %}
		  <img name="menu11" src="/static/images/scratch/lesson10L.png">
    {% else %}       
			<a onmouseover="MM_swapImage('menu11','','/static/images/scratch/lesson102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A010"><img name="menu11" src="/static/images/scratch/lesson10.png"></a>
		{% endif %}
    </td>
		<td>
    {% if false %}
		  <img name="menu12" src="/static/images/scratch/lesson11L.png">
    {% else %}       
			<a onmouseover="MM_swapImage('menu12','','/static/images/scratch/lesson112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A011"><img name="menu12" src="/static/images/scratch/lesson11.png"></a>
	  {% endif %}
    </td>		
		</tr>
	  	</table>
<hr>
		<table style="border:0px; width:900px;">
      <tr><td rowspan=4 valign=top><img src="/static/images/scratch/lesson_banner2.png" width=70px></td>
			<td>
			<a onmouseover="MM_swapImage('menuA01','','/static/images/scratch/lesson_A012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A101"><img name="menuA01" src="/static/images/scratch/lesson_A01.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA02','','/static/images/scratch/lesson_A022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A102"><img name="menuA02" src="/static/images/scratch/lesson_A02.png"></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuA03','','/static/images/scratch/lesson_A032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A103"><img name="menuA03" src="/static/images/scratch/lesson_A03.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA04','','/static/images/scratch/lesson_A042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A104"><img name="menuA04" src="/static/images/scratch/lesson_A04.png"></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuA05','','/static/images/scratch/lesson_A052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A105"><img name="menuA05" src="/static/images/scratch/lesson_A05.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA06','','/static/images/scratch/lesson_A062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A106"><img name="menuA06" src="/static/images/scratch/lesson_A06.png"></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuA07','','/static/images/scratch/lesson_A072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A107"><img name="menuA07" src="/static/images/scratch/lesson_A07.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA08','','/static/images/scratch/lesson_A082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A108"><img name="menuA08" src="/static/images/scratch/lesson_A08.png"></a>
			</td>
		</tr>
			<td>
			</td>			
		</tr>
		
		</table>
<hr>
		<table style="border:0px; width:900px;">
      <tr><td rowspan=4 valign=top><img src="/static/images/scratch/lesson_banner3.png" width=60px></td>
      <td>
			<a onmouseover="MM_swapImage('menuB01','','/static/images/scratch/lesson_B012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A201"><img name="menuB01" src="/static/images/scratch/lesson_B01.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB02','','/static/images/scratch/lesson_B022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A202"><img name="menuB02" src="/static/images/scratch/lesson_B02.png" width=400px></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuB03','','/static/images/scratch/lesson_B032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A203"><img name="menuB03" src="/static/images/scratch/lesson_B03.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB04','','/static/images/scratch/lesson_B042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A204"><img name="menuB04" src="/static/images/scratch/lesson_B04.png" width=400px></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuB05','','/static/images/scratch/lesson_B052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A205"><img name="menuB05" src="/static/images/scratch/lesson_B05.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB06','','/static/images/scratch/lesson_B062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A206"><img name="menuB06" src="/static/images/scratch/lesson_B06.png" width=400px></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuB07','','/static/images/scratch/lesson_B072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A207"><img name="menuB07" src="/static/images/scratch/lesson_B07.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB08','','/static/images/scratch/lesson_B082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A208"><img name="menuB08" src="/static/images/scratch/lesson_B08.png" width=400px></a>
			</td>
		</tr>
		
		</table>
<hr>
		<table style="border:0px; width:900px;">
      <tr><td rowspan=4 valign=top><img src="/static/images/scratch/lesson_banner4.png" width=60px></td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC01','','/static/images/scratch/lesson_C012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A301"><img name="menuC01" src="/static/images/scratch/lesson_C01.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC02','','/static/images/scratch/lesson_C022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A302"><img name="menuC02" src="/static/images/scratch/lesson_C02.png" width=370px></a>
			</td>
		</tr>
		<tr>
			<td>
			　　<a onmouseover="MM_swapImage('menuC03','','/static/images/scratch/lesson_C032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A303"><img name="menuC03" src="/static/images/scratch/lesson_C03.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC04','','/static/images/scratch/lesson_C042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A304"><img name="menuC04" src="/static/images/scratch/lesson_C04.png" width=370px></a>
			</td>
		</tr>
		<tr>
			<td>
			　　<a onmouseover="MM_swapImage('menuC05','','/static/images/scratch/lesson_C052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A305"><img name="menuC05" src="/static/images/scratch/lesson_C05.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC06','','/static/images/scratch/lesson_C062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A306"><img name="menuC06" src="/static/images/scratch/lesson_C06.png" width=370px></a>
			</td>
		</tr>
		<tr>
			<td>
			　　<a onmouseover="MM_swapImage('menuC07','','/static/images/scratch/lesson_C072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A307"><img name="menuC07" src="/static/images/scratch/lesson_C07.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC08','','/static/images/scratch/lesson_C082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A308"><img name="menuC08" src="/static/images/scratch/lesson_C08.png" width=370px></a>
			</td>			
		</tr>
		
		</table>
<BR><BR>
<img src="/static/images/scratch/certificate.png">
<BR>本單元課程自2018.4.23日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次	  
{% elif subject_id == "B" %}
<img src="/static/images/vphysics/vphysics.png">
<BR><BR>
<a href="/static/files/programming_vphysics.pdf" target=_blank role="button" class="btn btn-info">教材簡介</a>
<a href="/static/files/VPhysics.pdf" target="_blank" role="button" class="btn btn-info">石明豐教授編寫的課程文件(pdf,5.28MB)</a>
<a href="http://vphysics.ntu.edu.tw" target=_blank role="button" class="btn btn-info">更多VPhysics課程</a>
		<table style="border:0px; width:900px;">
  <tr>
  <td>
    {% if not user.is_authenticated %}
		  <img name="menu01" src="/static/images/vphysics/vphysics013.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu01','','/static/images/vphysics/vphysics012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B01"><img name=menu01 src="/static/images/vphysics/vphysics01.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 4 %}
		  <img name="menu03" src="/static/images/vphysics/vphysics033.png"><BR><BR>
    {% else %}	     
<a onmouseover="MM_swapImage('menu03','','/static/images/vphysics/vphysics032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B03"><img name=menu03 src="/static/images/vphysics/vphysics03.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 6 %}
		  <img name="menu05" src="/static/images/vphysics/vphysics053.png"><BR><BR>
    {% else %}	 
    <a onmouseover="MM_swapImage('menu05','','/static/images/vphysics/vphysics052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B05"><img name=menu05 src="/static/images/vphysics/vphysics05.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 8 %}
		  <img name="menu07" src="/static/images/vphysics/vphysics073.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu07','','/static/images/vphysics/vphysics072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B07"><img name=menu07 src="/static/images/vphysics/vphysics07.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 10 %}
		  <img name="menu09" src="/static/images/vphysics/vphysics093.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu09','','/static/images/vphysics/vphysics092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B09"><img name=menu09 src="/static/images/vphysics/vphysics09.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 12 %}
		  <img name="menu11" src="/static/images/vphysics/vphysics113.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu11','','/static/images/vphysics/vphysics112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B11"><img name=menu11 src="/static/images/vphysics/vphysics11.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 14 %}
		  <img name="menu13" src="/static/images/vphysics/vphysics133.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu13','','/static/images/vphysics/vphysics132.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B13"><img name=menu13 src="/static/images/vphysics/vphysics13.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 16 %}
		  <img name="menu15" src="/static/images/vphysics/vphysics153.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu15','','/static/images/vphysics/vphysics152.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B15"><img name=menu15 src="/static/images/vphysics/vphysics15.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 17 %}
		  <img name="menu17" src="/static/images/vphysics/vphysics173.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu17','','/static/images/vphysics/vphysics172.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B17"><img name=menu17 src="/static/images/vphysics/vphysics17.png"></a><br><br>
    {% endif %}
    </td>
  <td>
    {% if not user|has_group:"teacher" and lock < 3 %}
		  <img name="menu02" src="/static/images/vphysics/vphysics023.png"><BR><BR>
    {% else %}	 
    <a onmouseover="MM_swapImage('menu02','','/static/images/vphysics/vphysics022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B02"><img name=menu02 src="/static/images/vphysics/vphysics02.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 5 %}
		  <img name="menu04" src="/static/images/vphysics/vphysics043.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu04','','/static/images/vphysics/vphysics042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B04"><img name=menu04 src="/static/images/vphysics/vphysics04.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 7 %}
		  <img name="menu06" src="/static/images/vphysics/vphysics063.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu06','','/static/images/vphysics/vphysics062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B06"><img name=menu06 src="/static/images/vphysics/vphysics06.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 9 %}
		  <img name="menu08" src="/static/images/vphysics/vphysics083.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu08','','/static/images/vphysics/vphysics082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B08"><img name=menu08 src="/static/images/vphysics/vphysics08.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 11 %}
		  <img name="menu10" src="/static/images/vphysics/vphysics103.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu10','','/static/images/vphysics/vphysics102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B10"><img name=menu10 src="/static/images/vphysics/vphysics10.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 13 %}
		  <img name="menu12" src="/static/images/vphysics/vphysics123.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu12','','/static/images/vphysics/vphysics122.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B12"><img name=menu12 src="/static/images/vphysics/vphysics12.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 15 %}
		  <img name="menu14" src="/static/images/vphysics/vphysics143.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu14','','/static/images/vphysics/vphysics142.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B14"><img name=menu14 src="/static/images/vphysics/vphysics14.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 17 %}
		  <img name="menu16" src="/static/images/vphysics/vphysics163.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu16','','/static/images/vphysics/vphysics162.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B16"><img name=menu16 src="/static/images/vphysics/vphysics16.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 17 %}
		  <img name="menu18" src="/static/images/vphysics/vphysics183.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu18','','/static/images/vphysics/vphysics182.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B18"><img name=menu18 src="/static/images/vphysics/vphysics18.png"></a><br><br>
    {% endif %}
    </td>
  </tr>
  </table>   
<img src="/static/images/vphysics/certificate.png">
<BR>本單元課程自2018.4.23日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次  <a href="https://www.freepik.com/free-photos-vectors/house" target="_blank">House vector created by Freepik</a> , <a href='https://www.freepik.com/free-vector/assorted-round-icons_745439.htm' target="_blank">Designed by Freepik</a>
{% elif subject_id == "C" %}
<img src="/static/images/euler/euler.png"><BR>
    <a href="/static/files/programming_euler.pdf" target="_blank" role="button" class="btn btn-info">教材簡介</a>
  <a href="https://projecteuler.net/" target="_blank" role="button" class="btn btn-info">前往尤拉計畫解題網站</a>
		<table style="border:0px; width:900px;">    
  <tr>
<td>  
<a onmouseover="MM_swapImage('menu01','','/static/images/euler/euler012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C01"><img name=menu01 src="/static/images/euler/euler01.png"></a><br><br>
<a onmouseover="MM_swapImage('menu03','','/static/images/euler/euler062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C06"><img name=menu03 src="/static/images/euler/euler06.png"></a><br><br>
<a onmouseover="MM_swapImage('menu20','','/static/images/euler/euler202.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C20"><img name=menu20 src="/static/images/euler/euler20.png"></a><br><br>
<a onmouseover="MM_swapImage('menu13','','/static/images/euler/euler132.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C13"><img name=menu13 src="/static/images/euler/euler13.png"></a><br><br>
<a onmouseover="MM_swapImage('menu07','','/static/images/euler/euler072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C07"><img name=menu07 src="/static/images/euler/euler07.png"></a><br><br>
<a onmouseover="MM_swapImage('menu04','','/static/images/euler/euler032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C03"><img name=menu04 src="/static/images/euler/euler03.png"></a><br><br>
<a onmouseover="MM_swapImage('menu08','','/static/images/euler/euler082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C08"><img name=menu08 src="/static/images/euler/euler08.png"></a><br><br>
<a onmouseover="MM_swapImage('menu05','','/static/images/euler/euler042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C04"><img name=menu05 src="/static/images/euler/euler04.png"></a><br><br>
<a onmouseover="MM_swapImage('menu15','','/static/images/euler/euler152.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C15"><img name=menu15 src="/static/images/euler/euler15.png"></a><br><br>
<a onmouseover="MM_swapImage('menu17','','/static/images/euler/euler172.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C17"><img name=menu17 src="/static/images/euler/euler17.png"></a><br><br>
  </td>
  <td>
<a onmouseover="MM_swapImage('menu02','','/static/images/euler/euler022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C02"><img name=menu02 src="/static/images/euler/euler02.png"></a><br><br>
<a onmouseover="MM_swapImage('menu16','','/static/images/euler/euler162.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C16"><img name=menu16 src="/static/images/euler/euler16.png"></a><br><br>
<a onmouseover="MM_swapImage('menu19','','/static/images/euler/euler192.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C19"><img name=menu19 src="/static/images/euler/euler19.png"></a><br><br>
<a onmouseover="MM_swapImage('menu09','','/static/images/euler/euler092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C09"><img name=menu09 src="/static/images/euler/euler09.png"></a><br><br>
<a onmouseover="MM_swapImage('menu10','','/static/images/euler/euler102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C10"><img name=menu10 src="/static/images/euler/euler10.png"></a><br><br>
<a onmouseover="MM_swapImage('menu06','','/static/images/euler/euler052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C05"><img name=menu06 src="/static/images/euler/euler05.png"></a><br><br>
<a onmouseover="MM_swapImage('menu11','','/static/images/euler/euler112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C11"><img name=menu11 src="/static/images/euler/euler11.png"></a><br><br>
<a onmouseover="MM_swapImage('menu12','','/static/images/euler/euler122.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C12"><img name=menu12 src="/static/images/euler/euler12.png"></a><br><br>
<a onmouseover="MM_swapImage('menu18','','/static/images/euler/euler182.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C18"><img name=menu18 src="/static/images/euler/euler18.png"></a><br><br>
<a onmouseover="MM_swapImage('menu14','','/static/images/euler/euler142.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C14"><img name=menu14 src="/static/images/euler/euler14.png"></a><br><br>
    </td>
  </tr>
  </table> 
<img src="/static/images/euler/certificate.png">
  <BR><BR>
 
<BR>本單元課程自2018.4.23日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次
<a href='https://www.freepik.com/free-vector/colorful-business-icons_793959.htm'  target="_blank">Designed by Freepik</a> <a href='https://www.freepik.com/free-vector/assorted-round-icons_745439.htm' target="_blank">Designed by Freepik</a>  
{% elif subject_id == "D" %}
<img src="/static/images/ck/ck.png"><BR>
<a href="https://hackmd.io/s/BJ2jKMbf7" target="_blank" role="btn" class="btn">安裝與測試</a>
<a href="https://www.youtube.com/watch?v=dWHNBe6R6LQ" target="_blank" role="btn" class="btn">安裝教學影片</a>
		<table style="border:0px; width:900px;">    
  <tr>
<td>  
<a onmouseover="MM_swapImage('menu01','','/static/images/ck/ck012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D01"><img name=menu01 src="/static/images/ck/ck01.png"></a><br><br>
<a onmouseover="MM_swapImage('menu03','','/static/images/ck/ck032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D03"><img name=menu03 src="/static/images/ck/ck03.png"></a><br><br>
<a onmouseover="MM_swapImage('menu05','','/static/images/ck/ck052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D05"><img name=menu05 src="/static/images/ck/ck05.png"></a><br><br>
<a onmouseover="MM_swapImage('menu07','','/static/images/ck/ck072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D07"><img name=menu07 src="/static/images/ck/ck07.png"></a><br><br>
<a onmouseover="MM_swapImage('menu09','','/static/images/ck/ck092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D09"><img name=menu09 src="/static/images/ck/ck09.png"></a><br><br>  </td>
  <td>
<a onmouseover="MM_swapImage('menu02','','/static/images/ck/ck022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D02"><img name=menu02 src="/static/images/ck/ck02.png"></a><br><br>
<a onmouseover="MM_swapImage('menu04','','/static/images/ck/ck042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D04"><img name=menu04 src="/static/images/ck/ck04.png"></a><br><br>
<a onmouseover="MM_swapImage('menu06','','/static/images/ck/ck062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D06"><img name=menu06 src="/static/images/ck/ck06.png"></a><br><br>
<a onmouseover="MM_swapImage('menu08','','/static/images/ck/ck082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D08"><img name=menu08 src="/static/images/ck/ck08.png"></a><br><br>
<a onmouseover="MM_swapImage('menu10','','/static/images/ck/ck102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/D10"><img name=menu10 src="/static/images/ck/ck10.png"></a><br><br>
    </td>
  </tr>
  </table> 
<!--  
<img src="/static/images/ck/certificate.png">	<BR>
-->
<BR>本單元課程自2018.7.1日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次	
<a href='https://www.freepik.com/free-vector/large-round-icons-pack_745440.htm'>Designed by Freepik</a>  
{% elif subject_id == "E" %}
<img src="/static/images/vphysics/vphysics.png">
<BR><BR>
<a href="/static/files/programming_vphysics.pdf" target=_blank role="button" class="btn btn-info">教材簡介</a>
<a href="http://vphysics.ntu.edu.tw" target=_blank role="button" class="btn btn-info">更多VPhysics課程(主持人：臺灣大學物理學系石明豐教授)</a>
<a href="http://www.glowscript.org/#/user/GlowScriptDemos/folder/Examples/" target=_blank role="button" class="btn btn-info">GlowScriptDemos</a>
<a href="http://edutalk4.nctu.edu.tw" target="_blank" role="button" class="btn btn-info">IoTtalk與3D互動式程式設計平台(主持人：交通大學資訊工程學系林一平講座教授)</a>
  <table style="border:0px; width:900px;">
  <tr>
  <td>
    <a onmouseover="MM_swapImage('menu01','','/static/images/vphysics/vphysics012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E01"><img name=menu01 src="/static/images/vphysics/vphysics01.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu03','','/static/images/vphysics/vphysics032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E03"><img name=menu03 src="/static/images/vphysics/vphysics03.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu05','','/static/images/vphysics/vphysics052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E05"><img name=menu05 src="/static/images/vphysics/vphysics05.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu07','','/static/images/vphysics/vphysics072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E07"><img name=menu07 src="/static/images/vphysics/vphysics07.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu09','','/static/images/vphysics/vphysics092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E09"><img name=menu09 src="/static/images/vphysics/vphysics09.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu11','','/static/images/vphysics/vphysics112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E11"><img name=menu11 src="/static/images/vphysics/vphysics11.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu13','','/static/images/vphysics/vphysics132.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E13"><img name=menu13 src="/static/images/vphysics/vphysics13.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu15','','/static/images/vphysics/vphysics152.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E15"><img name=menu15 src="/static/images/vphysics/vphysics15.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu17','','/static/images/vphysics/vphysics172.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E17"><img name=menu17 src="/static/images/vphysics/vphysics17.png"></a><br><br>
    </td>
  <td>
   <a onmouseover="MM_swapImage('menu02','','/static/images/vphysics/vphysics022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E02"><img name=menu02 src="/static/images/vphysics/vphysics02.png"></a><br><br>
   <a onmouseover="MM_swapImage('menu04','','/static/images/vphysics/vphysics042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E04"><img name=menu04 src="/static/images/vphysics/vphysics04.png"></a><br><br>
   <a onmouseover="MM_swapImage('menu06','','/static/images/vphysics/vphysics062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E06"><img name=menu06 src="/static/images/vphysics/vphysics06.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu08','','/static/images/vphysics/vphysics082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E08"><img name=menu08 src="/static/images/vphysics/vphysics08.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu10','','/static/images/vphysics/vphysics102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E10"><img name=menu10 src="/static/images/vphysics/vphysics10.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu12','','/static/images/vphysics/vphysics122.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E12"><img name=menu12 src="/static/images/vphysics/vphysics12.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu14','','/static/images/vphysics/vphysics142.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E14"><img name=menu14 src="/static/images/vphysics/vphysics14.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu16','','/static/images/vphysics/vphysics162.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E16"><img name=menu16 src="/static/images/vphysics/vphysics16.png"></a><br><br>
    <a onmouseover="MM_swapImage('menu18','','/static/images/vphysics/vphysics182.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/E18"><img name=menu18 src="/static/images/vphysics/vphysics18.png"></a><br><br>
    </td>
  </tr>
  </table>
<img src="/static/images/vphysics/certificate.png">
<BR>本單元課程自2018.7.5日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次	    <a href="https://www.freepik.com/free-photos-vectors/house" target="_blank">House vector created by Freepik</a> , <a href='https://www.freepik.com/free-vector/assorted-round-icons_745439.htm' target="_blank">Designed by Freepik</a>
{% elif subject_id == "G" %}
<img src="/static/images/django/django.png"><BR>本課程陸續上架中..
<!--
  <a href="/static/files/programming_euler.pdf" target="_blank" role="button" class="btn btn-info">教材簡介</a>
-->
<table style="border:0px; width=900px;" >    
<tr>
<td width="400px">  
<a onmouseover="MM_swapImage('menu01','','/static/images/django/django012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G01"><img name=menu01 src="/static/images/django/django011.png"></a>
</td>
<td>
<a onmouseover="MM_swapImage('menu02','','/static/images/django/django022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G02"><img name=menu02 src="/static/images/django/django020.png"></a><br><br>  
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu03','','/static/images/django/django032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G03"><img name=menu03 src="/static/images/django/django030.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu04','','/static/images/django/django042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G04"><img name=menu04 src="/static/images/django/django041.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu05','','/static/images/django/django052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G05"><img name=menu05 src="/static/images/django/django051.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu06','','/static/images/django/django062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G06"><img name=menu06 src="/static/images/django/django061.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu07','','/static/images/django/django072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G07"><img name=menu07 src="/static/images/django/django071.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu08','','/static/images/django/django082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G08"><img name=menu08 src="/static/images/django/django081.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu09','','/static/images/django/django092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G09"><img name=menu09 src="/static/images/django/django091.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu10','','/static/images/django/django102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G10"><img name=menu10 src="/static/images/django/django101.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu11','','/static/images/django/django112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G11"><img name=menu11 src="/static/images/django/django110.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu12','','/static/images/django/django122.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G12"><img name=menu12 src="/static/images/django/django120.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu13','','/static/images/django/django132.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G13"><img name=menu13 src="/static/images/django/django130.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu14','','/static/images/django/django142.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G14"><img name=menu14 src="/static/images/django/django140.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu15','','/static/images/django/django152.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G15"><img name=menu15 src="/static/images/django/django150.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu16','','/static/images/django/django162.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G16"><img name=menu16 src="/static/images/django/django160.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu17','','/static/images/django/django172.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G17"><img name=menu17 src="/static/images/django/django170.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menu18','','/static/images/django/django182.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G18"><img name=menu18 src="/static/images/django/django180.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menu19','','/static/images/django/django192.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G19"><img name=menu19 src="/static/images/django/django191.png"></a><br><br>
</td>
  <!--
<td>
<a onmouseover="MM_swapImage('menu20','','/static/images/django/django202.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/G20"><img name=menu20 src="/static/images/django/django201.png"></a><br><br>
</td>
  -->
  </tr>
  </table> 
<hr>
<img src="/static/images/django/django1.png">
<table style="border:0px; width=900px;" >    
<tr>
<td width="400px">  
<a onmouseover="MM_swapImage('menua1','','/static/images/django/djangoa12.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GA1"><img name=menua1 src="/static/images/django/djangoa11.png"></a>
</td>
<td>
<a onmouseover="MM_swapImage('menua2','','/static/images/django/djangoa22.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GA2"><img name=menua2 src="/static/images/django/djangoa21.png"></a><br><br>  
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menua3','','/static/images/django/djangoa32.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GA3"><img name=menua3 src="/static/images/django/djangoa31.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menua4','','/static/images/django/djangoa42.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GA4"><img name=menua4 src="/static/images/django/djangoa41.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menua5','','/static/images/django/djangoa52.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GA5"><img name=menua5 src="/static/images/django/djangoa51.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menua6','','/static/images/django/djangoa62.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GA6"><img name=menua6 src="/static/images/django/djangoa61.png"></a><br><br>
</td>
</tr>
  </table>   
<hr>
<img src="/static/images/django/django2.png">
<table style="border:0px; width=900px;" >    
<tr>
<td width="400px">  
<a onmouseover="MM_swapImage('menub1','','/static/images/django/djangob12.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GB1"><img name=menub1 src="/static/images/django/djangob11.png"></a>
</td>
<td>
<a onmouseover="MM_swapImage('menub2','','/static/images/django/djangob22.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GB2"><img name=menub2 src="/static/images/django/djangob21.png"></a><br><br>  
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menub3','','/static/images/django/djangob32.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GB3"><img name=menub3 src="/static/images/django/djangob31.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menub4','','/static/images/django/djangob42.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GB4"><img name=menub4 src="/static/images/django/djangob41.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menub5','','/static/images/django/djangob52.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GB5"><img name=menub5 src="/static/images/django/djangob51.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menub6','','/static/images/django/djangob62.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GB6"><img name=menub6 src="/static/images/django/djangob61.png"></a><br><br>
</td>
</tr>
  </table> 
  <hr>
<img src="/static/images/django/django3.png">
<table style="border:0px; width=900px;" >    
<tr>
<td width="400px">  
<a onmouseover="MM_swapImage('menuc1','','/static/images/django/djangoc12.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC1"><img name=menuc1 src="/static/images/django/djangoc11.png"></a>
</td>
<td>
<a onmouseover="MM_swapImage('menuc2','','/static/images/django/djangoc22.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC2"><img name=menuc2 src="/static/images/django/djangoc21.png"></a><br><br>  
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menuc3','','/static/images/django/djangoc32.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC3"><img name=menuc3 src="/static/images/django/djangoc31.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menuc4','','/static/images/django/djangoc42.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC4"><img name=menuc4 src="/static/images/django/djangoc41.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menuc5','','/static/images/django/djangoc52.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC5"><img name=menuc5 src="/static/images/django/djangoc51.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menuc6','','/static/images/django/djangoc62.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC6"><img name=menuc6 src="/static/images/django/djangoc61.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menuc7','','/static/images/django/djangoc72.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC7"><img name=menuc7 src="/static/images/django/djangoc71.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menuc8','','/static/images/django/djangoc82.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GC8"><img name=menuc8 src="/static/images/django/djangoc81.png"></a><br><br>
</td>
</tr>
  </table> 
  <hr>
<img src="/static/images/django/django1.png">
<table style="border:0px; width=900px;" >    
<tr>
<td width="400px">  
<a onmouseover="MM_swapImage('menud1','','/static/images/django/djangod12.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD1"><img name=menud1 src="/static/images/django/djangod11.png"></a>
</td>
<td>
<a onmouseover="MM_swapImage('menud2','','/static/images/django/djangod22.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD2"><img name=menud2 src="/static/images/django/djangod21.png"></a><br><br>  
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menud3','','/static/images/django/djangod32.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD3"><img name=menud3 src="/static/images/django/djangod31.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menud4','','/static/images/django/djangod42.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD4"><img name=menud4 src="/static/images/django/djangod41.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menud5','','/static/images/django/djangod52.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD5"><img name=menud5 src="/static/images/django/djangod51.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menud6','','/static/images/django/djangod62.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD6"><img name=menud6 src="/static/images/django/djangod61.png"></a><br><br>
</td>
</tr>
<tr>
<td>  
<a onmouseover="MM_swapImage('menud7','','/static/images/django/djangod72.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD7"><img name=menud7 src="/static/images/django/djangod71.png"></a><br><br>
</td>
<td>
<a onmouseover="MM_swapImage('menud8','','/static/images/django/djangod82.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/GD8"><img name=menud8 src="/static/images/django/djangod81.png"></a><br><br>
</td>
</tr>
  </table> 
<img src="/static/images/django/certificate.png">
<BR>本單元課程自2018.8.4日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次	

  
  {% elif subject_id == "F" %}  
  
學習程式設計，並不是抱著一本書死K就能學得好，學習是有策略，有方法的，高老師幫大家挑選了幾本對於學習有關的書目，希望同學們看了之後，能夠找到把程式設計學好的方便法門，並進一步也能夠類推，把學校其它課業也學好。
<table class="table">
<tr>
<td>
<A href="http://www.books.com.tw/products/0010589636" target="_blank"><img width=250px src="/static/book/book01.png"></A>
</td>
<td>
<a href="http://www.books.com.tw/products/0010676428" target="_blank"><img width=250px  src="/static/book/book02.png"></a>
</td>
<td>
<a href="http://www.books.com.tw/products/0010764994" target="_blank"><img width=250px  src="/static/book/book03.png"></a>
</td>
</tr>
<tr>
<td>
    <table class="table">
      <tr><Td><A href="http://www.books.com.tw/products/0010589636" target="_blank">可汗學院的教育奇蹟</a></Td></tr>
      <tr><td>作者： 薩爾曼．可汗</td></tr>
      <tr><td>出版日期：2013/06/24</td></tr>
    </table>
</td>
<td>
    <table class="table">
      <tr><Td><a href="http://www.books.com.tw/products/0010676428" target="_blank">創新是一種態度</a></Td></tr>
      <tr><td>作者： 翟本喬</td></tr>
      <tr><td>出版日期：2015/06/04</td></tr>
    </table>
</td>
<td>
    <table class="table">
      <tr><Td><a href="http://www.books.com.tw/products/0010764994" target="_blank">大腦喜歡這樣學</a></Td></tr>
      <tr><td>作者： 芭芭拉‧歐克莉</td></tr>
      <tr><td>出版日期：2017/09/27</td></tr>
    </table>  
</td>  
</tr>  
<tr>
<td>
<A href="http://www.books.com.tw/products/0010752714?loc=P_asb_002" target="_blank"><img width=250px  width=250 src="/static/book/book04.png"></A>
</td>
<td>
<a href="http://www.books.com.tw/products/0010783038" target="_blank"><img width=250px  src="/static/book/book05.png"></a>
</td>
<td>
</td>
</tr>
<tr>
<td>
    <table class="table">
      <tr><Td><A href="http://www.books.com.tw/products/0010752714?loc=P_asb_002" target="_blank">刻意練習</A></Td></tr>
      <tr><td>作者： 安德斯‧艾瑞克森, 羅伯特‧普爾</td></tr>
      <tr><td>出版日期：2017/06/01</td></tr>
    </table>
</td>
<td>
    <table class="table">
      <tr><Td><a href="http://www.books.com.tw/products/0010783038" target="_blank">學習就像終身幼兒園</a></Td></tr>
      <tr><td>作者： 米契爾．瑞斯尼克</td></tr>
      <tr><td>出版日期：2018/04/03</td></tr>
    </table>
</td>
<td>

</td>  
</tr>  
</table>  
{% endif %}    
{% endblock %}