<SCRIPT language=JavaScript>
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>


{% extends "base.html" %}
{% load tag %}
{% block title %} Teachers {% endblock %}
{% block content %}
{% if subject_id == "A" %}
    <img style="margin-left:20px;" src="/static/images/banner_scratch.png">
<a href="/static/files/programming_scratch.pdf" target=_blank role="button" class="btn btn-info">教材簡介</a><BR><BR>
		<table style="border:0px; width:900px;">
		<tr>
		<td>
    {% if not user.is_authenticated %}
		  <img name="menu01" src="/static/images/scratch/lesson01L.png">
    {% else %}	     
			<a onmouseover="MM_swapImage('menu01','','/static/images/scratch/lesson012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A001"><img name="menu01" src="/static/images/scratch/lesson01.png"></a>
    {% endif %}
      </td>
		<td>
 		{% if not user|has_group:"teacher" and lock < 2 %}
		  <img name="menu02" src="/static/images/scratch/lesson02L.png">
    {% else %}	     
   		<a onmouseover="MM_swapImage('menu02','','/static/images/scratch/lesson022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A002"><img name="menu02" src="/static/images/scratch/lesson02.png"></a>
		{% endif %}
      </td>
		<td>
 		{% if not user|has_group:"teacher" and lock < 3 %}
		  <img name="menu03" src="/static/images/scratch/lesson03L.png">
    {% else %}	        
			<a onmouseover="MM_swapImage('menu03','','/static/images/scratch/lesson032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A003"><img name="menu03" src="/static/images/scratch/lesson03.png"></a>
    {% endif %}
    </td>  
		</td>
    </tr>      
    <tr>
		<td>
 		{% if not user|has_group:"teacher" and lock < 5 %}
		  <img name="menu04" src="/static/images/scratch/lesson04L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu04','','/static/images/scratch/lesson042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A004"><img name="menu04" src="/static/images/scratch/lesson04.png"></a>
    {% endif %}
    <td>
 		{% if not user|has_group:"teacher" and lock < 7 %}
		  <img name="menu05" src="/static/images/scratch/lesson05L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu05','','/static/images/scratch/lesson052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A005"><img name="menu05" src="/static/images/scratch/lesson05.png"></a>
    {% endif %}
    </td>
		<td>
 		{% if not user|has_group:"teacher" and lock < 9 %}
		  <img name="menu06" src="/static/images/scratch/lesson06L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu06','','/static/images/scratch/lesson062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A006"><img name="menu06" src="/static/images/scratch/lesson06.png"></a>
		{% endif %}
    </td>
		</tr>
		<tr>      
		<td>
 		{% if not user|has_group:"teacher" and lock < 11 %}
		  <img name="menu07" src="/static/images/scratch/lesson07L.png">
    {% else %}
			<a onmouseover="MM_swapImage('menu07','','/static/images/scratch/lesson072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A007"><img name="menu07" src="/static/images/scratch/lesson07.png"></a>
		{% endif %}
    </td>
		<td>
 		{% if not user|has_group:"teacher" and lock < 13 %}
		  <img name="menu08" src="/static/images/scratch/lesson08L.png">
    {% else %}      
			<a onmouseover="MM_swapImage('menu08','','/static/images/scratch/lesson082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A008"><img name="menu08" src="/static/images/scratch/lesson08.png"></a>
		{% endif %}
    </td>		
		<td>
    {% if not user|has_group:"teacher" and lock < 14 %}
		  <img name="menu09" src="/static/images/scratch/lesson093L.png">
    {% else %}     
			<a onmouseover="MM_swapImage('menu09','','/static/images/scratch/lesson092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A009"><img name="menu09" src="/static/images/scratch/lesson09.png"></a>
    {% endif %}
    </td>
		</tr>
		<tr>      
		<td>
    {% if not user|has_group:"teacher" and lock < 14 %}
		  <img name="menu10" src="/static/images/scratch/lesson09L.png">
    {% else %}       
			<a onmouseover="MM_swapImage('menu10','','/static/images/scratch/lesson094.png',1);" onmouseout=MM_swapImgRestore() href="/student/exam/"><img name="menu10" src="/static/images/scratch/lesson093.png"></a>
		{% endif %}
    </td>
		<td>
    {% if not user|has_group:"teacher" and lock < 15 %}
		  <img name="menu11" src="/static/images/scratch/lesson10L.png">
    {% else %}       
			<a onmouseover="MM_swapImage('menu11','','/static/images/scratch/lesson102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A010"><img name="menu11" src="/static/images/scratch/lesson10.png"></a>
		{% endif %}
    </td>
		<td>
    {% if not user|has_group:"teacher" and lock < 16 %}
		  <img name="menu12" src="/static/images/scratch/lesson11L.png">
    {% else %}       
			<a onmouseover="MM_swapImage('menu12','','/static/images/scratch/lesson112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A011"><img name="menu12" src="/static/images/scratch/lesson11.png"></a>
	  {% endif %}
    </td>		
		</tr>
	  	</table>
<hr>
		<table style="border:0px; width:900px;">
      <tr><td rowspan=4 valign=top><img src="/static/images/scratch/lesson_banner2.png" width=70px></td>
			<td>
			<a onmouseover="MM_swapImage('menuA01','','/static/images/scratch/lesson_A012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A101"><img name="menuA01" src="/static/images/scratch/lesson_A01.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA02','','/static/images/scratch/lesson_A022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A102"><img name="menuA02" src="/static/images/scratch/lesson_A02.png"></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuA03','','/static/images/scratch/lesson_A032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A103"><img name="menuA03" src="/static/images/scratch/lesson_A03.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA04','','/static/images/scratch/lesson_A042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A104"><img name="menuA04" src="/static/images/scratch/lesson_A04.png"></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuA05','','/static/images/scratch/lesson_A052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A105"><img name="menuA05" src="/static/images/scratch/lesson_A05.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA06','','/static/images/scratch/lesson_A062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A106"><img name="menuA06" src="/static/images/scratch/lesson_A06.png"></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuA07','','/static/images/scratch/lesson_A072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A107"><img name="menuA07" src="/static/images/scratch/lesson_A07.png"></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuA08','','/static/images/scratch/lesson_A082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A108"><img name="menuA08" src="/static/images/scratch/lesson_A08.png"></a>
			</td>
		</tr>
			<td>
			</td>			
		</tr>
		
		</table>
<hr>
		<table style="border:0px; width:900px;">
      <tr><td rowspan=4 valign=top><img src="/static/images/scratch/lesson_banner3.png" width=60px></td>
      <td>
			<a onmouseover="MM_swapImage('menuB01','','/static/images/scratch/lesson_B012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A201"><img name="menuB01" src="/static/images/scratch/lesson_B01.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB02','','/static/images/scratch/lesson_B022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A202"><img name="menuB02" src="/static/images/scratch/lesson_B02.png" width=400px></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuB03','','/static/images/scratch/lesson_B032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A203"><img name="menuB03" src="/static/images/scratch/lesson_B03.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB04','','/static/images/scratch/lesson_B042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A204"><img name="menuB04" src="/static/images/scratch/lesson_B04.png" width=400px></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuB05','','/static/images/scratch/lesson_B052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A205"><img name="menuB05" src="/static/images/scratch/lesson_B05.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB06','','/static/images/scratch/lesson_B062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A206"><img name="menuB06" src="/static/images/scratch/lesson_B06.png" width=400px></a>
			</td>
		</tr>
		<tr>
			<td>
			<a onmouseover="MM_swapImage('menuB07','','/static/images/scratch/lesson_B072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A207"><img name="menuB07" src="/static/images/scratch/lesson_B07.png" width=400px></a>
			</td>
			<td>
			<a onmouseover="MM_swapImage('menuB08','','/static/images/scratch/lesson_B082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A208"><img name="menuB08" src="/static/images/scratch/lesson_B08.png" width=400px></a>
			</td>
		</tr>
		
		</table>
<hr>
		<table style="border:0px; width:900px;">
      <tr><td rowspan=4 valign=top><img src="/static/images/scratch/lesson_banner4.png" width=60px></td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC01','','/static/images/scratch/lesson_C012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A301"><img name="menuC01" src="/static/images/scratch/lesson_C01.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC02','','/static/images/scratch/lesson_C022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A302"><img name="menuC02" src="/static/images/scratch/lesson_C02.png" width=370px></a>
			</td>
		</tr>
		<tr>
			<td>
			　　<a onmouseover="MM_swapImage('menuC03','','/static/images/scratch/lesson_C032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A303"><img name="menuC03" src="/static/images/scratch/lesson_C03.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC04','','/static/images/scratch/lesson_C042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A304"><img name="menuC04" src="/static/images/scratch/lesson_C04.png" width=370px></a>
			</td>
		</tr>
		<tr>
			<td>
			　　<a onmouseover="MM_swapImage('menuC05','','/static/images/scratch/lesson_C052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A305"><img name="menuC05" src="/static/images/scratch/lesson_C05.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC06','','/static/images/scratch/lesson_C062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A306"><img name="menuC06" src="/static/images/scratch/lesson_C06.png" width=370px></a>
			</td>
		</tr>
		<tr>
			<td>
			　　<a onmouseover="MM_swapImage('menuC07','','/static/images/scratch/lesson_C072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A307"><img name="menuC07" src="/static/images/scratch/lesson_C07.png" width=370px></a>
			</td>
			<td>
			　　<a onmouseover="MM_swapImage('menuC08','','/static/images/scratch/lesson_C082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/A308"><img name="menuC08" src="/static/images/scratch/lesson_C08.png" width=370px></a>
			</td>			
		</tr>
		
		</table>
<BR><BR>
<img src="/static/images/scratch/certificate.png">
{% elif subject_id == "B" %}
<img src="/static/images/vphysics/vphysics.png">
<BR><BR>
<a href="/static/files/programming_vphysics.pdf" target=_blank role="button" class="btn btn-info">教材簡介</a>
<a href="/static/files/VPhysics.pdf" target="_blank" role="button" class="btn btn-info">石明豐教授編寫的課程文件(pdf,5.28MB)</a>
<a href="http://vphysics.ntu.edu.tw" target=_blank role="button" class="btn btn-info">更多VPhysics課程</a>
		<table style="border:0px; width:900px;">
  <tr>
  <td>
    {% if not user.is_authenticated %}
		  <img name="menu01" src="/static/images/vphysics/vphysics013.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu01','','/static/images/vphysics/vphysics012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B01"><img name=menu01 src="/static/images/vphysics/vphysics01.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 4 %}
		  <img name="menu03" src="/static/images/vphysics/vphysics033.png"><BR><BR>
    {% else %}	     
<a onmouseover="MM_swapImage('menu03','','/static/images/vphysics/vphysics032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B03"><img name=menu03 src="/static/images/vphysics/vphysics03.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 6 %}
		  <img name="menu05" src="/static/images/vphysics/vphysics053.png"><BR><BR>
    {% else %}	 
    <a onmouseover="MM_swapImage('menu05','','/static/images/vphysics/vphysics052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B05"><img name=menu05 src="/static/images/vphysics/vphysics05.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 8 %}
		  <img name="menu07" src="/static/images/vphysics/vphysics073.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu07','','/static/images/vphysics/vphysics072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B07"><img name=menu07 src="/static/images/vphysics/vphysics07.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 10 %}
		  <img name="menu09" src="/static/images/vphysics/vphysics093.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu09','','/static/images/vphysics/vphysics092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B09"><img name=menu09 src="/static/images/vphysics/vphysics09.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 12 %}
		  <img name="menu11" src="/static/images/vphysics/vphysics113.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu11','','/static/images/vphysics/vphysics112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B11"><img name=menu11 src="/static/images/vphysics/vphysics11.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 14 %}
		  <img name="menu13" src="/static/images/vphysics/vphysics133.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu13','','/static/images/vphysics/vphysics132.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B13"><img name=menu13 src="/static/images/vphysics/vphysics13.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 16 %}
		  <img name="menu15" src="/static/images/vphysics/vphysics153.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu15','','/static/images/vphysics/vphysics152.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B15"><img name=menu15 src="/static/images/vphysics/vphysics15.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 17 %}
		  <img name="menu17" src="/static/images/vphysics/vphysics173.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu17','','/static/images/vphysics/vphysics172.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B17"><img name=menu17 src="/static/images/vphysics/vphysics17.png"></a><br><br>
    {% endif %}
    </td>
  <td>
    {% if not user|has_group:"teacher" and lock < 3 %}
		  <img name="menu02" src="/static/images/vphysics/vphysics023.png"><BR><BR>
    {% else %}	 
    <a onmouseover="MM_swapImage('menu02','','/static/images/vphysics/vphysics022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B02"><img name=menu02 src="/static/images/vphysics/vphysics02.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 5 %}
		  <img name="menu04" src="/static/images/vphysics/vphysics043.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu04','','/static/images/vphysics/vphysics042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B04"><img name=menu04 src="/static/images/vphysics/vphysics04.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 7 %}
		  <img name="menu06" src="/static/images/vphysics/vphysics063.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu06','','/static/images/vphysics/vphysics062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B06"><img name=menu06 src="/static/images/vphysics/vphysics06.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 9 %}
		  <img name="menu08" src="/static/images/vphysics/vphysics083.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu08','','/static/images/vphysics/vphysics082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B08"><img name=menu08 src="/static/images/vphysics/vphysics08.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 11 %}
		  <img name="menu10" src="/static/images/vphysics/vphysics103.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu10','','/static/images/vphysics/vphysics102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B10"><img name=menu10 src="/static/images/vphysics/vphysics10.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 13 %}
		  <img name="menu12" src="/static/images/vphysics/vphysics123.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu12','','/static/images/vphysics/vphysics122.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B12"><img name=menu12 src="/static/images/vphysics/vphysics12.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 15 %}
		  <img name="menu14" src="/static/images/vphysics/vphysics143.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu14','','/static/images/vphysics/vphysics142.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B14"><img name=menu14 src="/static/images/vphysics/vphysics14.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 17 %}
		  <img name="menu16" src="/static/images/vphysics/vphysics163.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu16','','/static/images/vphysics/vphysics162.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B16"><img name=menu16 src="/static/images/vphysics/vphysics16.png"></a><br><br>
    {% endif %}
    {% if not user|has_group:"teacher" and lock < 17 %}
		  <img name="menu18" src="/static/images/vphysics/vphysics183.png"><BR><BR>
    {% else %}	     
    <a onmouseover="MM_swapImage('menu18','','/static/images/vphysics/vphysics182.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/B18"><img name=menu18 src="/static/images/vphysics/vphysics18.png"></a><br><br>
    {% endif %}
    </td>
  </tr>
  </table>
<img src="/static/images/vphysics/certificate.png">
{% elif subject_id == "C" %}
<img src="/static/images/euler/euler.png"><BR>
    <a href="/static/files/programming_euler.pdf" target="_blank" role="button" class="btn btn-info">教材簡介</a>
  <a href="https://projecteuler.net/" target="_blank" role="button" class="btn btn-info">前往尤拉計畫解題網站</a>
		<table style="border:0px; width:900px;">    
  <tr>
<td>  
<a onmouseover="MM_swapImage('menu01','','/static/images/euler/euler012.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C01"><img name=menu01 src="/static/images/euler/euler01.png"></a><br><br>
<a onmouseover="MM_swapImage('menu03','','/static/images/euler/euler062.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C06"><img name=menu03 src="/static/images/euler/euler06.png"></a><br><br>
<a onmouseover="MM_swapImage('menu20','','/static/images/euler/euler202.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C20"><img name=menu20 src="/static/images/euler/euler20.png"></a><br><br>
<a onmouseover="MM_swapImage('menu13','','/static/images/euler/euler132.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C13"><img name=menu13 src="/static/images/euler/euler13.png"></a><br><br>
<a onmouseover="MM_swapImage('menu07','','/static/images/euler/euler072.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C07"><img name=menu07 src="/static/images/euler/euler07.png"></a><br><br>
<a onmouseover="MM_swapImage('menu04','','/static/images/euler/euler032.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C03"><img name=menu04 src="/static/images/euler/euler03.png"></a><br><br>
<a onmouseover="MM_swapImage('menu08','','/static/images/euler/euler082.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C08"><img name=menu08 src="/static/images/euler/euler08.png"></a><br><br>
<a onmouseover="MM_swapImage('menu05','','/static/images/euler/euler042.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C04"><img name=menu05 src="/static/images/euler/euler04.png"></a><br><br>
<a onmouseover="MM_swapImage('menu15','','/static/images/euler/euler152.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C15"><img name=menu15 src="/static/images/euler/euler15.png"></a><br><br>
<a onmouseover="MM_swapImage('menu17','','/static/images/euler/euler172.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C17"><img name=menu17 src="/static/images/euler/euler17.png"></a><br><br>
  </td>
  <td>
<a onmouseover="MM_swapImage('menu02','','/static/images/euler/euler022.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C02"><img name=menu02 src="/static/images/euler/euler02.png"></a><br><br>
<a onmouseover="MM_swapImage('menu16','','/static/images/euler/euler162.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C16"><img name=menu16 src="/static/images/euler/euler16.png"></a><br><br>
<a onmouseover="MM_swapImage('menu19','','/static/images/euler/euler192.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C19"><img name=menu19 src="/static/images/euler/euler19.png"></a><br><br>
<a onmouseover="MM_swapImage('menu09','','/static/images/euler/euler092.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C09"><img name=menu09 src="/static/images/euler/euler09.png"></a><br><br>
<a onmouseover="MM_swapImage('menu10','','/static/images/euler/euler102.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C10"><img name=menu10 src="/static/images/euler/euler10.png"></a><br><br>
<a onmouseover="MM_swapImage('menu06','','/static/images/euler/euler052.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C05"><img name=menu06 src="/static/images/euler/euler05.png"></a><br><br>
<a onmouseover="MM_swapImage('menu11','','/static/images/euler/euler112.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C11"><img name=menu11 src="/static/images/euler/euler11.png"></a><br><br>
<a onmouseover="MM_swapImage('menu12','','/static/images/euler/euler122.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C12"><img name=menu12 src="/static/images/euler/euler12.png"></a><br><br>
<a onmouseover="MM_swapImage('menu18','','/static/images/euler/euler182.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C18"><img name=menu18 src="/static/images/euler/euler18.png"></a><br><br>
<a onmouseover="MM_swapImage('menu14','','/static/images/euler/euler142.png',1);" onmouseout=MM_swapImgRestore() href="/student/lesson/C14"><img name=menu14 src="/static/images/euler/euler14.png"></a><br><br>
    </td>
  </tr>
  </table> 
<img src="/static/images/euler/certificate.png">	
{% endif %}
<BR>本單元課程自2018.4.23日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次	
{% endblock %}