{% extends "base.html" %}
{% load tag %}
{% block content %}
<!--基礎程式設計-->
{% if lesson == "1" %}
     {{unit|unit_name:lesson}}
     <h1><i class="fa fa-tags" aria-hidden="true"></i> {{lesson|lesson_name:index}}</h1>
<section class="wrapper">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item"><a aria-control="tab1" data-toggle="tab" role="tab" href="#tab1" class="nav-link active">範例展示</a></li>
		{% if lesson|lesson_download:index %}
    <li role="presentation" class="nav-item"><a aria-control="tab2" data-toggle="tab" role="tab" href="#tab2" class="nav-link">素材下載</a></li>    
    {% endif %}
		{% if lesson|lesson_resource1:index %}
    <li role="presentation" class="nav-item"><a aria-control="tab3" data-toggle="tab" role="tab" href="#tab3" class="nav-link">{{lesson|lesson_resource1:index}}</a></li>    
    {% endif %}		
  </ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
			<iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/{{assignment.0.3}}/?autostart=false" frameborder=“0” allowfullscreen></iframe>			
		</div>
    <!--------------------------------------------------------->
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2">
    <a href="/static/files/{{lesson|lesson_download:index}}" role="btn" class="btn">檔案下載</a>
    </div> 
		<!--------------------------------------------------------->
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3">
    <img src="/static/resource/{{lesson|lesson_resource2:index}}">
    </div>   		
    <!--------------------------------------------------------->    
  </div>  
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% endif %}
{% endblock %}

{% block domready %}
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $("body,html").animate({
        scrollTop: 0
    }, 600);	
    $('.nav-item a[href="#' + url.split('#')[1] + '"]').tab('show'); 

} 
{% endblock %}

{% block footer_script %}
<script>
function wordCount( val ){
    var clean_message = val.replace(/\[m_\d+#\d+:\d+:\d+\]/g, '');
    var chinese = clean_message.match(/[\u4E00-\u9FA5]/g);
    var pure_english = clean_message.replace(/[\u4E00-\u9FA5]/g, '')
    var wom = pure_english.match(/\w+/g);
    return {
      words : wom ? wom.length : 0,
      chars : chinese ? chinese.length : 0,
		};
}
$('#id_memo').on('input', function(e){
    var v = wordCount(e.target.value);
    if ($(this).val().length > 1000) {
      // Split the string on first 200 words and rejoin on spaces
      alert("心得最多只能輸入1000個字元")
      $(this).val(e.target.value.substring(0, 1000));
    }
    else {
  $('#result').html("心得感想：(英:" + v.words + " / 中: " + v.chars + ")");
    }
});
</script>
{% endblock %}