{% extends "base.html" %}
{% load tag %}
{% block content %}
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% if lesson == "B01" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業1：VPhycis移動</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-selected="false">作業2：繞邊邊跑一圈</a>
    </li>
    {% endif %}
  </ul>
  <br/>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/B01.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/Pp2bOHmi3XU?autoplay=0&autostart=0&enablejsapi=1" frameborder="0"
        allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      作業1：VPhycis移動
      <BR>
	{% include "student/submitB.html" with index=1 %}
    </div>
    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
      作業2：繞邊邊跑一圈
      <BR>
	{% include "student/submitB.html" with index=2 %}
    </div>
    {% endif %}    
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B02" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：一維等速運動</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B02.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/Av0qy_BQl0E?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	作業：一維等速運動
	<BR>
	{% include "student/submitB.html" with index=3 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B03" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：自由落體</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B03.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/OW-bdZr5wck?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=4 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B04" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：兩牆間反彈</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B04.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/Sq45ylKkT4o?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=5 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B05" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：向量合成</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B05.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/OW-bdZr5wck?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=6 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B06" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：速度視覺化</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B06.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/tZanWkGdkCo?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=7 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B07" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：等速率圓周運動</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B07.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/sFpevGswSoE?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=8 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B08" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：畫時間位置圖</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B08.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/Rj3zs0ySvGw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=9 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B09" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：虎克定律</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B09.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/UBsSdcAO7RM?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=10 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B10" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：垂直簡諧運動</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B10.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/TNspyvfjpiA?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=11 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B11" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：滾動的球</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B11.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/OI1V5kKvHl8?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=12 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B12" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：動量</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B12.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/nfDXK4ZB524?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=13 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B13" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：彈性碰撞</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B13.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/Oiam3SIYGHA?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=14 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B14" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：三顆球追撞</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B14.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/6sTq51UJYZM?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=15 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B15" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：簡易牛頓擺</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B15.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/gyOmdt9Fb3M?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=16 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B16" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：行星公轉</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B16.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/U_RKv6WSdsc?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=17 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B17" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業：單擺運動</a>
    </li>
    {% endif %}
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      {% include "student/lesson/B17.html" %}
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/U_RKv6WSdsc?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=18 %}
    </div>
    {% endif %}
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "B18" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">影片1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">影片3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-selected="false">影片4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#taba" role="tab" aria-selected="false">程式1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabb" role="tab" aria-selected="false">程式2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabc" role="tab" aria-selected="false">程式3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabd" role="tab" aria-selected="false">程式4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabe" role="tab" aria-selected="false">程式5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tabf" role="tab" aria-selected="false">完整程式</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab5" role="tab" aria-selected="false">作業：月球進動</a>
    </li>
    {% endif %}	
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/o1tz99j1Uu4?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="tab-pane fade show" id="tab2" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/N_a0_TZVD2Q?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/VxcAvVZWQDQ?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="tab-pane fade show" id="tab4" role="tabpanel">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/TlTw4mcObVQ?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="tab-pane fade show" id="taba" role="tabpanel">
      {% include "student/lesson/B18a.html" %}
    </div>
    <div class="tab-pane fade show" id="tabb" role="tabpanel">
      <div>
        <a href="http://tcjd71.wixsite.com/vpython/modu" target=_blank>VPhysics模組</a>
      </div>
      {% include "student/lesson/B18b.html" %}
    </div>
    <div class="tab-pane fade show" id="tabc" role="tabpanel">
      <div>
        <a href="http://tcjd71.wixsite.com/vpython/modu" target=_blank>VPhysics模組</a>
      </div>
      {% include "student/lesson/B18c.html" %}
    </div>
    <div class="tab-pane fade show" id="tabd" role="tabpanel">
      <div>
        <a href="http://tcjd71.wixsite.com/vpython/modu" target=_blank>VPhysics模組</a>
      </div>
      {% include "student/lesson/B18d.html" %}
    </div>
    <div class="tab-pane fade show" id="tabe" role="tabpanel">
      <div>
        <a href="http://tcjd71.wixsite.com/vpython/modu" target=_blank>VPhysics模組</a>
      </div>
      {% include "student/lesson/B18e.html" %}
    </div>
    <div class="tab-pane fade show" id="tabf" role="tabpanel">
      {% include "student/lesson/B18f.html" %}
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade show" id="tab3" role="tabpanel">
	{% include "student/submitB.html" with index=19 %}
    </div>
    {% endif %}	
  </div>
</section>
{% else %}
<section>
  無此課程
</section>
{% endif %}
{% endblock %}
