{% extends "base.html" %}
{% block content %}
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% if lesson == "D01" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>    
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}	
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C01.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/vIvCIH3-CIw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=1 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D02" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}	
	</ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C02.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/572yOF407vw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=2 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D03" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C03.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/V-8X00C87Hc?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=3 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D04" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C04.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/f1pro89-034?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=4 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D05" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C05.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/_hcgABG-bjw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=5 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D06" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C06.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/yVIyJLyNSLI?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=6 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D07" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C07.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/N9ltuPIfaok?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=7 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D08" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C08.html" %}
    </div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/UxrPUcbbEjs?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=8 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D09" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li><!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li> -->
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C09.html" %}
    </div><!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/3ogEU4NR81A?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div> -->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=9 %}
    </div>
    {% endif %}	
  </div>
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% elif lesson == "D10" %}
<section class="wrapper">
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">講義</a>
    </li><!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">影片</a>
    </li>-->
    {% if user.is_authenticated %}	
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-selected="false">作業</a>
    </li>
    {% endif %}		
  </ul>
  <br />
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
      {% include "student/lesson/C10.html" %}
    </div><!--
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab4">
      <iframe width="880" height="520" src="https://www.youtube.com/embed/572yOF407vw?autoplay=0&autostart=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
    </div>-->
    {% if user.is_authenticated %}
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
      {% include "student/submitB.html" with index=10 %}
    </div>
    {% endif %}	
  </div>
</section>	
  </div>
</section>
{% else %}
<section>
  無此課程
</section>
{% endif %}
<BR>本單元課程自2018.7.1日起已被瀏覽 <a href="/student/counter/{{lesson}}" target="_blank">{{counter}}</a> 次
{% endblock %}
