{% extends "base.html" %}
{% load tag %}
{% block content %}
        <table class="table">
            <tr>
                <Td></Td>
                {% for assignment in lesson_list %}
                     <td style="padding:0px"><button type="button" class="btn btn-warning btn-circle">{{assignment.0}}</button></td>              
                {% endfor %}
            </tr>          
            <tr>
                <Td></Td>
                {% for assignment in lesson_list %}
                    {% if lesson == "1" %}
                     <td><font size=-2>{{assignment.2}}</font></td>
                    {% else %}
                     <td><font size=-2>{{assignment.1}}</font></td>              
                    {% endif %}
                {% endfor %}
            </tr>          
            {% for enroll, bar in bars %}
          <tr><td nowrap>{{enroll.seat}}){{enroll.student.first_name}}</td>
            {% for assignment, work in bar %}
                {% if work %}
                    {% if work.score > 0 %}
            <td style="padding:0px"><button type="button" class="btn btn-info btn-circle">{{work.score}}</button><BR><font size=-2>{{work.publication_date|date:"m/d"}}<BR>{{work.scorer|realname}}</td>
                    {% else %}
            <td style="padding:0px"><button type="button" class="btn btn-success btn-circle"></button><BR><font size=-2>{{work.publication_date|date:"m/d"}}</font></td>                   
                    {% endif %}
                {% else %}
           <td style="padding:0px"><button type="button" class="btn btn-default btn-circle">{{assignment.0}}</button></td>            
                {% endif %}
            {% endfor %}
          </tr>
            {% endfor %}
</table>
{% endblock %}
