{% extends "base.html" %}
{% load tag %}

{% block content %}
{% if work %}
{{work.user_id|realname}}
{% endif %}
{% if lesson == "1" %}
  {% if work %}
    <div>評分者：{{ work.scorer}}</div>
    {% if work.score > 0 %}<div>分數：{{ work.score}}</div>{% endif %}
    {% if work.comment %}<div>評語：{{ work.comment }}</div>{% endif %}	
    <div>心得感想：</div>
    <div>{{ work.memo }}</div>
    <div>程式：</div>
    <style>
      #test {width: 640px; height: 480px}
    </style>
    <script src="/static/libs/vendor.js"></script>
    <script src="/static/libs/scratch-vm.min.js"></script>
    <script src="/static/libs/scratch-storage.min.js"></script>
    <script src="/static/libs/scratch-svg-renderer.js"></script>
    <!-- note: this uses the BUILT version of scratch-render!  make sure to npm run build -->
    <script src="/static/libs/scratch-render.min.js"></script>
  
    <img src="/static/images/greenflag.png" alt="Start" onclick="javascript: vm.greenFlag();" />
    <canvas id="test"></canvas>
  
    <script>
      // These variables are going to be available in the "window global" intentionally.
      // Allows you easy access to debug with `vm.greenFlag()` etc.
      window.devicePixelRatio = 1;
  
      var canvas = document.getElementById('test');
      var render = new ScratchRender(canvas);
      var vm = new VirtualMachine();
      var storage = new ScratchStorage();
      const audioEngine = new window.AudioEngine();
      vm.attachAudioEngine(audioEngine);
      vm.attachStorage(storage);
      vm.attachRenderer(render);
      vm.attachV2SVGAdapter(new ScratchSVGRenderer.SVGRenderer());
      vm.attachV2BitmapAdapter(new ScratchSVGRenderer.BitmapAdapter());
  
      document.addEventListener('mousemove', e => {
        const rect = canvas.getBoundingClientRect();
        const coordinates = {
          x: e.clientX - rect.left,
          y: e.clientY - rect.top,
          canvasWidth: rect.width,
          canvasHeight: rect.height
        };
        vm.postIOData('mouse', coordinates);
      });
      canvas.addEventListener('mousedown', e => {
        const rect = canvas.getBoundingClientRect();
        const data = {
          isDown: true,
          x: e.clientX - rect.left,
          y: e.clientY - rect.top,
          canvasWidth: rect.width,
          canvasHeight: rect.height
        };
        vm.postIOData('mouse', data);
        e.preventDefault();
      });
      canvas.addEventListener('mouseup', e => {
        const rect = canvas.getBoundingClientRect();
        const data = {
          isDown: false,
          x: e.clientX - rect.left,
          y: e.clientY - rect.top,
          canvasWidth: rect.width,
          canvasHeight: rect.height
        };
        vm.postIOData('mouse', data);
        e.preventDefault();
      });
  
      // Feed keyboard events as VM I/O events.
      document.addEventListener('keydown', e => {
        // Don't capture keys intended for Blockly inputs.
        if (e.target !== document && e.target !== document.body) {
          return;
        }
        vm.postIOData('keyboard', {
          keyCode: e.keyCode,
          isDown: true
        });
        e.preventDefault();
      });
      document.addEventListener('keyup', e => {
        // Always capture up events,
        // even those that have switched to other targets.
        vm.postIOData('keyboard', {
          keyCode: e.keyCode,
          isDown: false
        });
        // E.g., prevent scroll.
        if (e.target !== document && e.target !== document.body) {
          e.preventDefault();
        }
      });
  
      function loadProject(project) {
        const reader = new FileReader();
        reader.onload = () => {
          vm.start();
          vm.loadProject(reader.result)
            .then(() => {
              // we add a `#loaded` div to our document, the integration suite
              // waits for that element to show up to assume the vm is ready
              // to play!
              const div = document.createElement('div');
              div.id = 'loaded';
              document.body.appendChild(div);
              //vm.greenFlag();
            });
        };
        if (!(project instanceof File)) {
          const xhr = new XMLHttpRequest();
          xhr.open('GET', project);
          xhr.responseType = 'blob';
          xhr.onload = function (e) {
            reader.readAsArrayBuffer(e.target.response);
          }
          xhr.send();
        } else {
          reader.readAsArrayBuffer(project);
        }
      }
  
      window.onload = function (e) {
        loadProject('/static/work/scratch/{{request.user.id}}/{{work_dict|hash_file:index}}');
      }
  
    </script>
    
  {% else %}
    尚未繳交
  {% endif %}
{% elif lesson == "4" %}
  {% if work %}
    {% if work.score > 0 %}<div>分數：{{ work.score}} / 評分者：{{ work.scorer}}</div>{% endif %}
    {% if work.comment %}<div>評語：{{ work.comment }}</div>{% endif %}	    
    <div>{{ work.memo }}</div>
    <div>Youtube：</div>
    <div><iframe width="800" height="480" src="https://www.youtube.com/embed/{{ work.youtube|video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  {% else %}
    尚未繳交
  {% endif %}
{% elif lesson == "10" %}
  {% if work %}
    {% if work.score > 0 %}<div>分數：{{ work.score}} / 評分者：{{ work.scorer}}</div>{% endif %}
    {% if work.comment %}<div>評語：{{ work.comment }}</div>{% endif %}	       
    <div>心得感想：{% if work.publish %}(已發表){% else %}<a href="/student/work/publish/{{typing}}/{{lesson}}/{{index}}/2" class="btn" role="btn">發表心得</a>{% endif %}</div>
    <div>{{ work.memo|linebreaks }}</div>
 {% else %}
    尚未繳交
  {% endif %}  
{% elif lesson == "4" %}
  {% if work %}
    {% if work.score > 0 %}<div>分數：{{ work.score}} / 評分者：{{ work.scorer}}</div>{% endif %}
    {% if work.comment %}<div>評語：{{ work.comment }}</div>{% endif %}	    
    <div>心得感想：</div>
    <div>{{ work.memo }}</div>
    <div>Youtube：</div>
    <div><iframe width="800" height="480" src="https://www.youtube.com/embed/{{ work.youtube|video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
  {% else %}
    尚未繳交
  {% endif %}
{% elif lesson == "6" %}
  {% if work %}
    {% if work.score > 0 %}<div>分數：{{ work.score}} / 評分者：{{ work.scorer}}</div>{% endif %}
    {% if work.comment %}<div>評語：{{ work.comment }}</div>{% endif %}	       
    <div>心得感想：</div>
    <div>{{ work.memo }}</div>
    <div>
    作品檔案:
</div>
<div>
   <a href="/student/work/download/{{work.typing}}/{{lesson}}/{{index}}/{{request.user.id}}/{{work_dict|hash_file:index}}">下載</a>
</div>
  {% else %}
    尚未繳交
  {% endif %}
{% elif lesson == "2" or lesson == "3" or lesson == "5" or lesson == "7" %}
  {% if work %}
    {% if work.score > 0 %}<div>分數：{{ work.score}} / 評分者：{{ work.scorer}}</div>{% endif %}
    {% if work.comment %}<div>評語：{{ work.comment }}</div>{% endif %}	       
    <div>心得感想：</div>
    <div>{{ work.memo }}</div>
    <div>創作過程：</div>
    <div>{{ work.helps }}</div>
    <div>程式碼：</div>
    <div class="position-relative">
      {{ work.code|code_highlight|safe }}
      <button class="btn btn-sm btn-primary my-1 position-absolute p-1 mr-1 border border-light" id="copy" style="right: 0; top: 0">copy</button>
    </div>
    <div>執行結果</div>
    <div><img src="/{{ work.picture }}" style="max-width: 100%"></div>
  {% else %}
    尚未繳交
  {% endif %}
{% elif lesson == "8" %}
  {% if work %}
    {% if work.score > 0 %}<div>分數：{{ work.score}} / 評分者：{{ work.scorer}}</div>{% endif %}
    {% if work.comment %}<div>評語：{{ work.comment }}</div>{% endif %}	       
    <div>心得感想：</div>
    <div>{{ work.memo }}</div>
    <div>程式碼：</div>
    <div>執行結果</div>
    <div><img src="/{{ work.picture }}" style="max-width: 100%"></div>
  {% else %}
    尚未繳交
  {% endif %}
{% endif %}
{% endblock %}

{% block domready %}
// copy code to clipboard
$('#copy').click(function() {
  var selobj = window.getSelection();
  var node = $('.code pre')[0];
  var range = document.createRange();

  selobj.empty();
  range.selectNode(node);
  selobj.addRange(range);
  document.execCommand('copy');
});
{% endblock %}