{% load tag %}

<form action="/student/work/submit/{% if typing == '0' %}0{% else %}1{% endif %}/{% if 'A' in lesson %}1{% else %}{{lesson}}{% endif %}/{{index}}/" method="post" enctype="multipart/form-data" onsubmit="return checkvalue(this);">
  <input type="hidden" name="lesson" value="{{lesson}}">
  <table class="table">
    {% if not work_dict|hash_memo:index %}
    <tr>
      <td>狀態</td>
      <td>尚未繳交</td>
    </tr>
    {% elif work_dict|hash_score:index > 0 %}
    <tr>
      <td>分數</td>
      <td>{{ work_dict|hash_score:index }} / 評分者：{{ work_dict|hash_scorer:index }}</td>
    </tr>
    {% else %}
    <tr>
      <td>分數</td>
      <td>尚未評分</td>
    </tr>
    {% endif %}
    {% if not work_dict|hash_score:index > 0 %}
    <tr>
      <td>作品檔案</td>
      <td><input name="file" type="file" class="form-control"></td>
    </tr>
    <tr>
      <td valign="top">
        <div class="memo_status">心得感想</div>
        <input type="hidden" name="memo_e" class="memo_e" value="{{work.memo_e}}">
        <input type="hidden" name="memo_c" class="memo_c" value="{{work.memo_c}}">
      </td>
      <td><textarea cols="20" class="memo" name="memo" rows="5" class="form-control">{{ work_dict|hash_memo:index }}</textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="送出" class="form-control btn-info" />
      </td>
    </tr>
    {% endif %}
  </table>
  {% csrf_token %}
</form>
{% with workfiles=work_dict|hash_files:index %}


<font color=red>作品：</font>
<style>
  .renderer {
    width: 640px;
    height: 480px
  }
</style>

<div>
  <img class="greenFlag" src="/static/images/greenflag.png" alt="Start" />
  <canvas class="renderer" data-src="/static/work/scratch/{{request.user.id}}/{{workfiles.0.filename}}"></canvas>
</div>

<div>
  {% for workfile in workfiles %}
  <div>
    <span class="badge badge-light">第 {{ forloop.revcounter }} 版</span>
    <a href="/student/work/download/{{typing}}/{{lesson_id}}/{{index}}/{{request.user.id}}/{{workfile.id}}">{{ workfile.upload_date|date:"Y-m-d H:i" }}</a>
  </div>
  {% endfor %}
</div>
{% endwith %}