<div class="card card-default expr-editor">
  <div class="card-header">
    <button class="btn btn-outline-warning btn-sm new-block" id="new-var" data-type="var" data-toggle="modal" data-target="#new-element" data-class="btn-warning" data-pattern="[A-Z_a-z][A-Za-z_0-9]*">　變數　 +</button>
    <ul class="expr-item-list" id="var-list"></ul>
  </div>
  <div class="card-header">
    <button class="btn btn-outline-danger btn-sm new-block" id="new-arr" data-type="arr" data-toggle="modal" data-target="#new-element" data-class="btn-danger" data-pattern="[A-Z_a-z][A-Za-z_0-9]*">　陣列　  +</button>
    <ul id="arr-list" class="expr-arr-list"></ul>
  </div>
  <div class="card-header">
    <button class="btn btn-outline-success btn-sm new-block" id="new-str-const" data-type="str-const" data-toggle="modal" data-target="#new-element" data-class="btn-success" data-pattern="[A-Z_a-z][A-Za-z_0-9]*">文字常數 +</button>
    <ul class="expr-item-list" id="str-const-list"></ul>
  </div>
  <div class="card-header">
    <button class="btn btn-outline-success btn-sm new-block" id="new-num-const" data-type="num-const" data-toggle="modal" data-target="#new-element" data-class="btn-success" data-pattern="[0-9]+">數字常數 +</button>
    <ul class="expr-item-list" id="num-const-list"></ul>
  </div>
  <div class="card-header">
    <button class="btn btn-outline-info btn-sm" id="new-var" disabled>　符號　 </button>
    <ul class="expr-item-list">
      <li class="btn btn-info btn-sm expr-item">(</li>
      <li class="btn btn-info btn-sm expr-item">)</li>
      <li class="btn btn-info btn-sm expr-item">+</li>
      <li class="btn btn-info btn-sm expr-item">-</li>
      <li class="btn btn-info btn-sm expr-item">*</li>
      <li class="btn btn-info btn-sm expr-item">/</li>
      <li class="btn btn-info btn-sm expr-item">^</li>
    </ul>
  </div>
  <div class="card-body pt-1" style="position: relative">
    <div class="expr-trash">
      <img src="/static/images/trash.png" alt="">
    </div>
    <div class="mb-2">
      <button class="btn btn-sm btn-outline-dark" id="new-exp">新增運算式</button> <span class="badge badge-dark">請將上面的元件方塊拖曳至下方運算式的虛線框內...</span>
    </div>
    <div id="expr-list" class="expr-list">
    </div>
  </div>
  <div class="card-footer pt-1">
    <form id="expr-form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="exprid" value="{{expr.id|default:'0'}}">
      <input type="hidden" name="types" value="21">
      <input type="hidden" name="index" value="{{index}}">
      <input type="hidden" name="jsonstr" id="jsonstr" value="">
    </form>
    <button class="btn btn-info form-control" id="expr-submit">送出</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new-element" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new-element-form form-inline">
          <div class="form-group">
            <label for="">名稱</label>
            <input type="text" class="form-control" id="elementName" />
          </div>
          <div class="form-group" id="form-group-elementNumber">
            <label for="">數量</label>
            <input class="form-control" id="elementNumber" type="number" min="1" max="10" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        <button type="button" class="btn btn-primary" id="new-element-ok">新增</button>
      </div>
    </div>
  </div>
</div>
<script>
var exprjson = {{ expr.expr_json|safe }};
</script>
<script type="text/javascript" src="/static/js/expression-editor.js"></script>