{% extends "base.html" %}
{% block content %}
{% if lesson == "1" %}
    {% include "student/submitA.html" %}
{% elif lesson == "4" %}
    {% include "student/submitC.html" %}
{% elif lesson == "6" %}
    {% include "student/submitD.html" %}
{% elif lesson == "8" %}
    {% include "student/submitE.html" %}
{% elif lesson == "2" or lesson == "3" or lesson == "5" or lesson == "7" %}
    {% include "student/submitB.html" %}
{% elif lesson == "9" %}
    {% include "student/submitF.html" %}
{% elif lesson == "10" %}
    {% include "student/submitG.html" %}
{% endif %}
{% endblock %}

{% block header %}
<!-- jQuery UI -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');
  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
</script>  
{% endblock %}

{% block domready %}
{% if lesson == "9" %}
  $('.select').click(function(e){
    $("#select_model").show();
  });
  $('#add').click(function(e){
      $("#block").append("<button type='button' class='btn btn-success' data-toggle='modal' data-target='#myModa2'>?</button>");
  });
{% endif %}
{% endblock %}

