{% extends "base.html" %}
{% block content %}
{% if lesson == "1" %}
    {% include "student/submitA.html" %}
{% elif lesson == "4" %}
    {% include "student/submitC.html" %}
{% elif lesson == "6" %}
    {% include "student/submitD.html" %}
{% elif lesson == "8" %}
    {% include "student/submitE.html" %}
{% elif lesson == "2" or lesson == "3" or lesson == "5" or lesson == "7" %}
    {% include "student/submitB.html" %}
{% elif lesson == "9" %}
    {% include "student/submitF.html" %}
{% endif %}
{% endblock %}

{% block header %}
<script>
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
</script>  
{% endblock %}