{% extends "base.html" %}
{% load tag %}
{% block header %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
        {% for query, count in total_works %}
         {% if count > 0 %}
          [ new Date({{query.year}},{{query.month|add:-1}},{{query.day}}), {{count}}],
         {% endif %}
        {% endfor %}
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "作業上傳統計",
         height: {{height}},
         noDataPattern: {
           color: '#ffc147'
         }
       };

       chart.draw(dataTable, options);
   }
   
   
    </script>
{% endblock %}
{% block content %}
    <div id="calendar_basic" style="width: 1000px;"></div>
{% endblock %}