{% extends "base.html" %}
{% load tag %}
{% block header %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
        {% for query, count in total_works %}
         {% if count > 0 %}
          [ new Date({{query.year}},{{query.month|add:-1}},{{query.day}}), {{count}}],
         {% endif %}
        {% endfor %}
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "作業上傳統計",
         height: {{height}},
         noDataPattern: {
           color: '#ffc147'
         }
       };  
       chart.draw(dataTable, options);
      var selectHandler = function(e) {
          date = dataTable.getValue(chart.getSelection()[0]['row'], 0 )
          window.location = "/student/work/day/"+{{lesson}}+"/"+date.getFullYear()+"/"+(date.getMonth()+1)+"/"+date.getDate();
       }      
       google.visualization.events.addListener(chart, 'select', selectHandler);          
   }
   
   
    </script>
{% endblock %}
{% block content %}
    <div id="calendar_basic" style="width: 1000px;"></div>    
    <table class="table" style="width:100%">
        <tr>
            <td>班級名稱</td>
            <td>教師</td>
            <td>學生人數</td>                
        </tr>
    {% for classroom, teacher_name, students in classroom_teachers %}
        <tr>
        <td>{{classroom.name}}</td>
        <td>{{teacher_name}}</td>
        <td>{{students}}</td>
        </tr>
    {% endfor %}
    </table>    
    {% load pagination %}
    {% get_pagination %}
{% endblock %}