{% extends "base.html" %}
{% block header %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="/static/register_helper.js" async defer></script>
  <script>
  //---------------------------------------------------------------------------
  var school_pool = [
    {% for s in schools %}{id: {{ s.id }}, zid: {{ s.zone }}, name: "{{ s.name }}"}, 
    {% endfor %}
  ];
  </script>
{% endblock %}

{% block content %}
  <h1>註冊新帳號</h1>
  <p>請填寫以下資料：</p>
  <form action="." method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <p><input class="btn-info" type="submit" value="建立帳號"></p>
  </form>
  </form>
{% endblock %}

{% block domready %}
  // Replace TextInput with 3 Select elements
  $('#id_last_name').parent().load('/static/school_template.html', null, function() {
    reset_county();
    var school = location.href.match(/\?school=(\d+)\/(\d+)\/(\d+)/);
    if (school && school.length == 4) {
      $('#county').val(school[1]);
      reset_zone();
      $('#zone').val(school[2]);
      reset_school();
      $('#schools').val(school[3]);
    }
  });
{% endblock %}