{% extends "base.html" %}
{% block header %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="/static/register_helper.js"></script>
  <script>
  //---------------------------------------------------------------------------
  var school_pool = [
    {% for s in schools %}{id: {{ s.id }}, zid: {{ s.zone }}, name: "{{ s.name }}"}, 
    {% endfor %}
  ];
  </script>
{% endblock %}

{% block content %}
  <h1>註冊新帳號</h1>
  <p>請填寫以下資料：</p>
  <form action="." method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <p><input class="btn-info" type="submit" value="建立帳號"></p>
  </form>
{% endblock %}

