  <p>平方的和 vs 和的平方</p>
<p>平方的和：將一群數字各自平方後再相加求和。</p>
<p>和的平方：將一群數字相加後再計算其平方的值。</p>
<p>【最後目標】</p>
<p>找出前100個自然數，其和的平方與平方的和，求兩個計算結果的差值。</p>
<p>練習1：求1~10數字平方的和</p>
<div class="highlight-python"><div class="highlight"><pre><span class="nb">sum</span> <span class="o">=</span> <span class="mi">0</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="mi">11</span><span class="p">):</span>
        <span class="nb">sum</span> <span class="o">=</span> <span class="nb">sum</span> <span class="o">+</span> <span class="n">i</span> <span class="o">**</span> <span class="mi">2</span>
<span class="k">print</span><span class="p">(</span><span class="nb">sum</span><span class="p">)</span>
</pre></div>
</div>
<p>練習2:求1~10數字和的平方</p>
<div class="highlight-python"><div class="highlight"><pre><span class="nb">sum</span> <span class="o">=</span> <span class="mi">0</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="mi">11</span><span class="p">):</span>
        <span class="nb">sum</span> <span class="o">=</span> <span class="nb">sum</span> <span class="o">+</span> <span class="n">i</span>
<span class="k">print</span><span class="p">(</span><span class="nb">sum</span><span class="o">**</span><span class="mi">2</span><span class="p">)</span>
</pre></div>
</div>