    <div id="doc" class="markdown-body container-fluid" style="position: relative;"><h1 id="與資料庫互動"><a class="anchor hidden-xs" href="#與資料庫互動" title="與資料庫互動"><span class="octicon octicon-link"></span></a>與資料庫互動</h1><p>我們建立一個簡單的線上投票網站當成範例。</p><p>在終端機中按下 <kbd>Ctrl</kbd> + <kbd>C</kbd> 中斷程式執行，回到命令提示模式。</p><h2 id="建立專案與應用程式"><a class="anchor hidden-xs" href="#建立專案與應用程式" title="建立專案與應用程式"><span class="octicon octicon-link"></span></a>建立專案與應用程式</h2><p>(1)在終端機中下達指令建立一個新的專案</p><pre><code class="bash hljs"><div class="wrapper">
<div class="code">django-admin.py startproject poll
</div></div></code></pre><p>打完指令後，會產生一個 <code>poll</code> 的資料夾</p><pre><code class="bash hljs">poll/
    manage.py
    poll/
        __init__.py
        settings.py
        urls.py
        wsgi.py
</code></pre><p>(2)建立一個應用程式</p><pre><code class="bash hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span></div><div class="code"><span class="hljs-built_in">cd</span> poll
python manage.py startapp default
</div></div></code></pre><h2 id="調整專案設定值"><a class="anchor hidden-xs" href="#調整專案設定值" title="調整專案設定值"><span class="octicon octicon-link"></span></a>調整專案設定值</h2><p>修改 <code>poll/poll/settings.py</code></p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="28"></span>
<span data-linenumber="29"></span>
<span data-linenumber="30"></span>
<span data-linenumber="31"></span>
<span data-linenumber="32"></span>
<span data-linenumber="33"></span>
<span data-linenumber="34"></span>
<span data-linenumber="35"></span>
<span data-linenumber="36"></span>
<span data-linenumber="37"></span>
<span data-linenumber="38"></span>
<span data-linenumber="39"></span>
<span data-linenumber="40"></span>
<span data-linenumber="41"></span></div><div class="code">ALLOWED_HOSTS = [<span class="hljs-string">'*'</span>]


<span class="hljs-comment"># Application definition</span>

INSTALLED_APPS = [
    <span class="hljs-string">'django.contrib.admin'</span>,
    <span class="hljs-string">'django.contrib.auth'</span>,
    <span class="hljs-string">'django.contrib.contenttypes'</span>,
    <span class="hljs-string">'django.contrib.sessions'</span>,
    <span class="hljs-string">'django.contrib.messages'</span>,
    <span class="hljs-string">'django.contrib.staticfiles'</span>,
    <span class="hljs-string">'default'</span>,
]
</div></div></code></pre><p>另外，同一個檔案 <code>poll/poll/settings.py</code> 底下還有部份要修改的設定值：</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="104"></span>
<span data-linenumber="105"></span>
<span data-linenumber="106"></span>
<span data-linenumber="107"></span>
<span data-linenumber="108"></span>
<span data-linenumber="109"></span></div><div class="code"><span class="hljs-comment"># Internationalization</span>
<span class="hljs-comment"># https://docs.djangoproject.com/en/2.0/topics/i18n/</span>

LANGUAGE_CODE = <span class="hljs-string">'zh-hant'</span>

TIME_ZONE = <span class="hljs-string">'Asia/Taipei'</span>
</div></div></code></pre><h2 id="建立資料模型"><a class="anchor hidden-xs" href="#建立資料模型" title="建立資料模型"><span class="octicon octicon-link"></span></a>建立資料模型</h2><p>修改 <code>poll/default/models.py</code></p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span>
<span data-linenumber="7"></span>
<span data-linenumber="8"></span>
<span data-linenumber="9"></span>
<span data-linenumber="10"></span>
<span data-linenumber="11"></span>
<span data-linenumber="12"></span>
<span data-linenumber="13"></span>
<span data-linenumber="14"></span>
<span data-linenumber="15"></span>
<span data-linenumber="16"></span>
<span data-linenumber="17"></span></div><div class="code"><span class="hljs-keyword">from</span> django.db <span class="hljs-keyword">import</span> models

<span class="hljs-comment"># Create your models here.</span>

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Poll</span><span class="hljs-params">(models.Model)</span>:</span>
    <span class="hljs-comment"># 投票主題文字，至多 200 字</span>
    subject = models.CharField(max_length=<span class="hljs-number">200</span>)
    <span class="hljs-comment"># 投票建立日期，在建立時若未指定，則自動填入建立時的時間</span>
    date_created = models.DateField(auto_now_add=<span class="hljs-keyword">True</span>)

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Option</span><span class="hljs-params">(models.Model)</span>:</span>
    <span class="hljs-comment"># 此選項屬於哪一個投票</span>
    poll_id = models.IntegerField()
    <span class="hljs-comment"># 選項文字</span>
    title = models.CharField(max_length=<span class="hljs-number">200</span>)
    <span class="hljs-comment"># 此選項被投票數</span>
    count = models.IntegerField(default=<span class="hljs-number">0</span>)
</div></div></code></pre><p>執行以下指令建立資料庫</p><pre><code class="bash hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span></div><div class="code">sudo python manage.py makemigrations
sudo python manage.py migrate
sudo python manage.py createsuperuser
</div></div></code></pre><p><kbd><img src="https://i.imgur.com/cb4aBh9.png" alt=""></kbd></p><h2 id="連結網站管理頁面"><a class="anchor hidden-xs" href="#連結網站管理頁面" title="連結網站管理頁面"><span class="octicon octicon-link"></span></a>連結網站管理頁面</h2><p>開啟網站服務</p><pre><code class="bash hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span></div><div class="code">sudo python manage.py runserver 0:80
</div></div></code></pre><p>請在瀏覽器中輸入以下網址，以後入 Django 內建的管理後臺</p><p><code>http://your-host-address/admin</code></p><p>(<em><strong>註：<code>your-host-address</code> 請自行置換為執行專案的主機位址</strong></em>)</p><p><kbd><img src="https://i.imgur.com/UzWjT6k.png" alt=""></kbd></p><p>輸入超級管理員的帳號密碼後，登入網站管理後臺</p><p><kbd><img src="https://i.imgur.com/XaUT2C5.png" alt=""></kbd></p><h3 id="將自訂資料模型也納入內建管理後臺"><a class="anchor hidden-xs" href="#將自訂資料模型也納入內建管理後臺" title="將自訂資料模型也納入內建管理後臺"><span class="octicon octicon-link"></span></a>將自訂資料模型也納入內建管理後臺</h3><p>修改 <code>poll/default/admin.py</code></p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span></div><div class="code"><span class="hljs-keyword">from</span> django.contrib <span class="hljs-keyword">import</span> admin
<span class="hljs-keyword">from</span> .models <span class="hljs-keyword">import</span> *
<span class="hljs-comment"># Register your models here.</span>

admin.site.register(Poll)
admin.site.register(Option)
</div></div></code></pre><p>修改完成後重新載入管理介面，應該會看到上面出現 <code>Poll</code> 跟 <code>Option</code> 的管理界面，我們可以在這個管理後台做新增、讀取、編輯、刪除的動作了。</p><p><kbd><img src="https://i.imgur.com/MVRnwff.png" alt=""></kbd></p><p>點選 <code>Polls</code> 後面的「新增」連結來建立 2 個投票主題(Poll)：</p><ul>
<li>趕快來投票決定班遊地點！！！</li>
<li>同樂會最想吃什麼？</li>
</ul><p><kbd><img src="https://i.imgur.com/peW8h5h.png" alt=""></kbd></p><p>新增投票主題後會自動轉至投票主題列表的畫面，這時出現的文字是 <code>Poll Object</code> ，如果我們希望出現有意義的內容，須在 <code>model.py</code> 中加入程式碼 <ins>第11-12, 22-23行</ins></p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span>
<span data-linenumber="7"></span>
<span data-linenumber="8"></span>
<span data-linenumber="9"></span>
<span data-linenumber="10"></span>
<span data-linenumber="11"></span>
<span data-linenumber="12"></span>
<span data-linenumber="13"></span>
<span data-linenumber="14"></span>
<span data-linenumber="15"></span>
<span data-linenumber="16"></span>
<span data-linenumber="17"></span>
<span data-linenumber="18"></span>
<span data-linenumber="19"></span>
<span data-linenumber="20"></span>
<span data-linenumber="21"></span>
<span data-linenumber="22"></span>
<span data-linenumber="23"></span></div><div class="code"><span class="hljs-keyword">from</span> django.db <span class="hljs-keyword">import</span> models

<span class="hljs-comment"># Create your models here.</span>

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Poll</span><span class="hljs-params">(models.Model)</span>:</span>
    <span class="hljs-comment"># 投票主題文字，至多 200 字</span>
    subject = models.CharField(max_length=<span class="hljs-number">200</span>)
    <span class="hljs-comment"># 投票建立日期，在建立時若未指定，則自動填入建立時的時間</span>
    date_created = models.DateField(auto_now_add=<span class="hljs-keyword">True</span>)

    <span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">__str__</span><span class="hljs-params">(self)</span>:</span>
        <span class="hljs-keyword">return</span> str(self.id) + <span class="hljs-string">")"</span> + self.subject

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">Option</span><span class="hljs-params">(models.Model)</span>:</span>
    <span class="hljs-comment"># 此選項屬於哪一個投票</span>
    poll_id = models.IntegerField()
    <span class="hljs-comment"># 選項文字</span>
    title = models.CharField(max_length=<span class="hljs-number">200</span>)
    <span class="hljs-comment"># 此選項被投票數</span>
    count = models.IntegerField(default=<span class="hljs-number">0</span>)

    <span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">__str__</span><span class="hljs-params">(self)</span>:</span>
        <span class="hljs-keyword">return</span> str(self.poll_id) + <span class="hljs-string">": "</span> + self.title
</div></div></code></pre><p><kbd><img src="https://i.imgur.com/oLmKDhU.png" alt=""></kbd></p><p>接著為投票主題「趕快來投票決定班遊地點！！！」，新增投票選項，記得要指定 <code>Poll id</code> 的值為 <code>1</code> (因為該投票主題的 <code>id</code> 值為 <code>1</code>)</p><ul>
<li>淡水老街吃吃喝喝養豬行程</li>
<li>大稻埕文化巡訪文青行程</li>
<li>陽明山賞花趣拈花惹草行程</li>
</ul><p><kbd><img src="https://i.imgur.com/UJ0OLuq.png" alt=""></kbd></p><p><kbd><img src="https://i.imgur.com/7EueNRB.png" alt=""></kbd></p></div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
                <div class="toc"><ul class="nav"><li class=""><a href="#與資料庫互動" title="與資料庫互動">與資料庫互動</a><ul class="nav"><li class=""><a href="#建立專案與應用程式" title="建立專案與應用程式">建立專案與應用程式</a></li><li><a href="#調整專案設定值" title="調整專案設定值">調整專案設定值</a></li><li><a href="#建立資料模型" title="建立資料模型">建立資料模型</a></li><li class=""><a href="#連結網站管理頁面" title="連結網站管理頁面">連結網站管理頁面</a><ul class="nav"><li class=""><a href="#將自訂資料模型也納入內建管理後臺" title="將自訂資料模型也納入內建管理後臺">將自訂資料模型也納入內建管理後臺</a></li></ul></li></ul></li></ul></div><div class="toc-menu"><a class="expand-toggle" href="#">Expand all</a><a class="back-to-top" href="#">Back to top</a><a class="go-to-bottom" href="#">Go to bottom</a></div>
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="top:17px;display:none;"  >
        <div class="toc"><ul class="nav"><li class=""><a href="#與資料庫互動" title="與資料庫互動">與資料庫互動</a><ul class="nav"><li class=""><a href="#建立專案與應用程式" title="建立專案與應用程式">建立專案與應用程式</a></li><li><a href="#調整專案設定值" title="調整專案設定值">調整專案設定值</a></li><li><a href="#建立資料模型" title="建立資料模型">建立資料模型</a></li><li class=""><a href="#連結網站管理頁面" title="連結網站管理頁面">連結網站管理頁面</a><ul class="nav"><li class=""><a href="#將自訂資料模型也納入內建管理後臺" title="將自訂資料模型也納入內建管理後臺">將自訂資料模型也納入內建管理後臺</a></li></ul></li></ul></li></ul></div><div class="toc-menu"><a class="expand-toggle" href="#">Expand all</a><a class="back-to-top" href="#">Back to top</a><a class="go-to-bottom" href="#">Go to bottom</a></div>
    </div>
