   <div id="doc" class="markdown-body container-fluid" style="position: relative;"><h1 id="視圖、網址、範本"><a class="anchor hidden-xs" href="#視圖、網址、範本" title="視圖、網址、範本"><span class="octicon octicon-link"></span></a>視圖、網址、範本</h1><p>使用者透過瀏覽器存取 Django 專案網站服務時，大致流程如下圖：</p><p><img src="https://i.imgur.com/uId9pN7.png" alt=""></p><pre class="graphviz"><!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->

</pre><p>我們要建立第一個網頁，開啟 <code>poll/default/urls.py</code> ，修改為以下程式碼。</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="16"></span>
<span data-linenumber="17"></span>
<span data-linenumber="18"></span>
<span data-linenumber="19"></span>
<span data-linenumber="20"></span>
<span data-linenumber="21"></span>
<span data-linenumber="22"></span></div><div class="code"><span class="hljs-keyword">from</span> django.contrib <span class="hljs-keyword">import</span> admin
<span class="hljs-keyword">from</span> django.urls <span class="hljs-keyword">import</span> path, include

urlpatterns = [
    path(<span class="hljs-string">'admin/'</span>, admin.site.urls),
    path(<span class="hljs-string">''</span>, include(<span class="hljs-string">'default.urls'</span>)),
]
</div></div></code></pre><h2 id="投票主題列表"><a class="anchor hidden-xs" href="#投票主題列表" title="投票主題列表"><span class="octicon octicon-link"></span></a>投票主題列表</h2><h3 id="網址"><a class="anchor hidden-xs" href="#網址" title="網址"><span class="octicon octicon-link"></span></a>網址</h3><p>新增檔案 <code>poll/default/urls.py</code> ，定義 <code>default</code> 的路徑規則。</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span></div><div class="code"><span class="hljs-keyword">from</span> django.urls <span class="hljs-keyword">import</span> path
<span class="hljs-keyword">from</span> . <span class="hljs-keyword">import</span> views

urlpatterns = [
    path(<span class="hljs-string">'poll/'</span>, views.PollList.as_view()),
]
</div></div></code></pre><h3 id="視圖"><a class="anchor hidden-xs" href="#視圖" title="視圖"><span class="octicon octicon-link"></span></a>視圖</h3><p>開啟 <code>poll/default/views.py</code> ，修改為以下程式碼。</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span>
<span data-linenumber="7"></span>
<span data-linenumber="8"></span></div><div class="code"><span class="hljs-keyword">from</span> django.shortcuts <span class="hljs-keyword">import</span> render
<span class="hljs-keyword">from</span> django.views.generic <span class="hljs-keyword">import</span> ListView
<span class="hljs-keyword">from</span> .models <span class="hljs-keyword">import</span> *

<span class="hljs-comment"># Create your views here.</span>
<span class="hljs-comment"># 投票主題列表</span>
<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">PollList</span><span class="hljs-params">(ListView)</span>:</span>
    model = Poll
</div></div></code></pre><h3 id="範本"><a class="anchor hidden-xs" href="#範本" title="範本"><span class="octicon octicon-link"></span></a>範本</h3><div class="alert alert-info">
<p><img alt=":bulb:" class="emoji" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/bulb.png" title=":bulb:"> <strong>頁面範本要放在哪裡?</strong></p>
<p>在專案的 <code>settings.py</code> 設定檔中有一段關於頁面範本處理的設定值：</p>
<pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="55"></span>
<span data-linenumber="56"></span>
<span data-linenumber="57"></span>
<span data-linenumber="58"></span>
<span data-linenumber="59"></span>
<span data-linenumber="60"></span>
<span data-linenumber="61"></span>
<span data-linenumber="62"></span>
<span data-linenumber="63"></span>
<span data-linenumber="64"></span>
<span data-linenumber="65"></span>
<span data-linenumber="66"></span>
<span data-linenumber="67"></span>
<span data-linenumber="68"></span>
<span data-linenumber="69"></span></div><div class="code">TEMPLATES = [
    {
        <span class="hljs-string">'BACKEND'</span>: <span class="hljs-string">'django.template.backends.django.DjangoTemplates'</span>,
        <span class="hljs-string">'DIRS'</span>: [],
        <span class="hljs-string">'APP_DIRS'</span>: <span class="hljs-keyword">True</span>,
        <span class="hljs-string">'OPTIONS'</span>: {
            <span class="hljs-string">'context_processors'</span>: [
                <span class="hljs-string">'django.template.context_processors.debug'</span>,
                <span class="hljs-string">'django.template.context_processors.request'</span>,
                <span class="hljs-string">'django.contrib.auth.context_processors.auth'</span>,
                <span class="hljs-string">'django.contrib.messages.context_processors.messages'</span>,
            ],
        },
    },
]
</div></div></code></pre>
</div><p>建立目錄 <code>poll/default/templates/default</code></p><p>為了維持整個網站頁面間外觀的一致性，先新增網站頁面範本檔案 <code>poll/default/templates/base.html</code></p><pre><code class="html hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span>
<span data-linenumber="7"></span>
<span data-linenumber="8"></span>
<span data-linenumber="9"></span>
<span data-linenumber="10"></span></div><div class="code"><span class="hljs-meta">&lt;!DOCTYPE html&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">html</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">"zh-hant"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">body</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"main-content"</span>&gt;</span>
&#123;% block content %}&#123;% endblock %}
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">body</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">html</span>&gt;</span>
</div></div></code></pre><p>新增投票主題列表頁面範本 <code>poll/default/templates/default/poll_list.html</code></p><pre><code class="html hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span>
<span data-linenumber="7"></span>
<span data-linenumber="8"></span>
<span data-linenumber="9"></span>
<span data-linenumber="10"></span></div><div class="code">&#123;% extends "base.html" %}

&#123;% block content %}
<span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>投票主題<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
  &#123;% for poll in poll_list %}
  <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>{{ poll.date_created }} <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"{{ poll.id }}/"</span>&gt;</span>{{ poll.subject }}<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
  &#123;% endfor %}
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
&#123;% endblock %}
</div></div></code></pre><div class="alert alert-info">
<p><img alt=":bulb:" class="emoji" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/bulb.png" title=":bulb:"> 通用視圖在未特別指定頁面範本的情況下，會自動將所處的應用程式名稱加在頁面範本檔案之前。以本例來說，在 <code>default</code> 應用程式下繼承 <code>ListView</code> 的 <code>PollList</code>，預設會到範本搜尋路徑取用 <code>default/poll_list.html</code> 當做頁面範本。</p>
</div><div class="alert alert-info">
<p><img alt=":bulb:" class="emoji" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/bulb.png" title=":bulb:"> 在專案設定值未指定範本搜尋路徑，而 <code>APP_DIRS</code> 被啟用的狀況下，會自動將 <code>default</code> 應用程式資料夾下的 <code>templates</code> 加入搜尋路徑，因此 <code>poll_list.html</code> 要被放在 <code>poll/default/templates/default/</code> 底下。</p>
</div><p>啟動網站，在網址列輸入 <code>http://your-host-address/poll/</code> 會出現以下頁面。<br>
(<em><strong>註：<code>your-host-address</code> 請自行置換為執行專案的主機位址</strong></em>)</p><p><kbd><img src="https://i.imgur.com/2JhniL2.png" alt=""></kbd></p><h2 id="投票主題檢視"><a class="anchor hidden-xs" href="#投票主題檢視" title="投票主題檢視"><span class="octicon octicon-link"></span></a>投票主題檢視</h2><h3 id="網址1"><a class="anchor hidden-xs" href="#網址1" title="網址1"><span class="octicon octicon-link"></span></a>網址</h3><p>修改檔案 <code>poll/default/urls.py</code>：</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span>
<span data-linenumber="7"></span></div><div class="code">urlpatterns = [
    path(<span class="hljs-string">'poll/'</span>, views.PollList.as_view()),
    path(<span class="hljs-string">'poll/&lt;int:pk&gt;/'</span>, views.PollDetail.as_view()),
]
</div></div></code></pre><h3 id="視圖1"><a class="anchor hidden-xs" href="#視圖1" title="視圖1"><span class="octicon octicon-link"></span></a>視圖</h3><p>修改 <code>poll/default/views.py</code>:</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span></div><div class="code"><span class="hljs-keyword">from</span> django.shortcuts <span class="hljs-keyword">import</span> render
<span class="hljs-keyword">from</span> django.views.generic <span class="hljs-keyword">import</span> ListView, DetailView
<span class="hljs-keyword">from</span> .models <span class="hljs-keyword">import</span> *
</div></div></code></pre><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="9"></span>
<span data-linenumber="10"></span>
<span data-linenumber="11"></span>
<span data-linenumber="12"></span>
<span data-linenumber="13"></span>
<span data-linenumber="14"></span>
<span data-linenumber="15"></span>
<span data-linenumber="16"></span>
<span data-linenumber="17"></span></div><div class="code"><span class="hljs-comment"># 投票主題檢視</span>
<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">PollDetail</span><span class="hljs-params">(DetailView)</span>:</span>
    model = Poll
    <span class="hljs-comment"># 取得額外資料供頁面範本顯示</span>
    <span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">get_context_data</span><span class="hljs-params">(self, **kwargs)</span>:</span>
        context = super().get_context_data(**kwargs)
        options = Option.objects.filter(poll_id=self.kwargs[<span class="hljs-string">'pk'</span>])
        context[<span class="hljs-string">'options'</span>] = options
        <span class="hljs-keyword">return</span> context
</div></div></code></pre><h3 id="範本1"><a class="anchor hidden-xs" href="#範本1" title="範本1"><span class="octicon octicon-link"></span></a>範本</h3><p>新增投票主題檢視頁面範本檔案 <code>poll/default/templates/default/poll_detail.html</code></p><pre><code class="html hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span>
<span data-linenumber="4"></span>
<span data-linenumber="5"></span>
<span data-linenumber="6"></span>
<span data-linenumber="7"></span>
<span data-linenumber="8"></span>
<span data-linenumber="9"></span>
<span data-linenumber="10"></span></div><div class="code">&#123;% extends "base.html" %}

&#123;% block content %}
<span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>{{ poll.subject }}<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
    &#123;% for option in options %}
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>{{ option.title }}<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    &#123;% endfor %}
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
&#123;% endblock %}
</div></div></code></pre><p>啟動網站，在網址列輸入 <code>http://your-host-address/poll/1/</code> 會出現以下頁<br>
(<em><strong>註：<code>your-host-address</code> 請自行置換為執行專案的主機位址</strong></em>)</p><p><kbd><img src="https://i.imgur.com/pKMbzpm.png" alt=""></kbd></p><h2 id="投票"><a class="anchor hidden-xs" href="#投票" title="投票"><span class="octicon octicon-link"></span></a>投票</h2><p>這個範例的投票動作很簡單，不記錄投票的其他相關資訊，例：投票者、投票時間…等，僅單純增加票數而已。因此之前在定義資料模型的時候僅透過 <code>Option</code> 中的 <code>count</code> 欄位來記錄選項被投了幾次。</p><p>投票的流程簡化如下：在檢視投票主題時，可以直接點選該主題下的投票選項進行投票，投票後自動返回所屬投票主題檢視頁面。</p><h3 id="網址2"><a class="anchor hidden-xs" href="#網址2" title="網址2"><span class="octicon octicon-link"></span></a>網址</h3><p>修改 <code>poll/default/urls.py</code>：</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="6"></span>
<span data-linenumber="7"></span>
<span data-linenumber="8"></span></div><div class="code">    path(<span class="hljs-string">'poll/&lt;int:pk&gt;/'</span>, views.PollDetail.as_view()),
    path(<span class="hljs-string">'option/&lt;int:pk&gt;/'</span>, views.PollVote.as_view()),
]
</div></div></code></pre><h3 id="視圖2"><a class="anchor hidden-xs" href="#視圖2" title="視圖2"><span class="octicon octicon-link"></span></a>視圖</h3><p>修改 <code>poll/default/views.py</code>：</p><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="1"></span>
<span data-linenumber="2"></span>
<span data-linenumber="3"></span></div><div class="code"><span class="hljs-keyword">from</span> django.shortcuts <span class="hljs-keyword">import</span> render
<span class="hljs-keyword">from</span> django.views.generic <span class="hljs-keyword">import</span> ListView, DetailView, RedirectView
<span class="hljs-keyword">from</span> .models <span class="hljs-keyword">import</span> *
</div></div></code></pre><pre><code class="python hljs"><div class="wrapper"><div class="gutter linenumber"><span data-linenumber="18"></span>
<span data-linenumber="19"></span>
<span data-linenumber="20"></span>
<span data-linenumber="21"></span>
<span data-linenumber="22"></span>
<span data-linenumber="23"></span>
<span data-linenumber="24"></span></div><div class="code"><span class="hljs-comment"># 投票</span>
<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">PollVote</span><span class="hljs-params">(RedirectView)</span>:</span>
    <span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">get_redirect_url</span><span class="hljs-params">(self, *args, **kwargs)</span>:</span>
        option = Option.objects.get(id=self.kwargs[<span class="hljs-string">'pk'</span>])
        option.count += <span class="hljs-number">1</span>   <span class="hljs-comment"># 將選項的票數+1</span>
        option.save()       <span class="hljs-comment"># 儲存至資料庫</span>
        <span class="hljs-keyword">return</span> <span class="hljs-string">"/poll/"</span>+str(option.poll_id)+<span class="hljs-string">"/"</span>
</div></div></code></pre><div class="alert alert-info">
<p><img alt=":bulb:" class="emoji" src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/images/basic/bulb.png" title=":bulb:"> 如果要轉址的目的頁面是固定不變的，可以直接指定 <code>RedirectView</code> 的 <code>redirect_url</code> 就好了，例：</p>
<pre><code class="python hljs"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">StaticRedirectView</span><span class="hljs-params">(RedirectView)</span>:</span>
    redirect_url = <span class="hljs-string">"/"</span>
</code></pre>
</div><h3 id="範本2"><a class="anchor hidden-xs" href="#範本2" title="範本2"><span class="octicon octicon-link"></span></a>範本</h3><p>在增加了票數之後，就直接轉址回所屬的投票主題檢視頁面，所以這個功能不需要定義頁面範本。</p></div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
                <div class="toc"><ul class="nav"><li class=""><a href="#視圖、網址、範本" title="視圖、網址、範本">視圖、網址、範本</a><ul class="nav"><li><a href="#投票主題列表" title="投票主題列表">投票主題列表</a><ul class="nav"><li><a href="#網址" title="網址">網址</a></li><li><a href="#視圖" title="視圖">視圖</a></li><li><a href="#範本" title="範本">範本</a></li></ul></li><li><a href="#投票主題檢視" title="投票主題檢視">投票主題檢視</a><ul class="nav"><li><a href="#網址1" title="網址">網址</a></li><li><a href="#視圖1" title="視圖">視圖</a></li><li><a href="#範本1" title="範本">範本</a></li></ul></li><li class=""><a href="#投票" title="投票">投票</a><ul class="nav"><li><a href="#網址2" title="網址">網址</a></li><li class=""><a href="#視圖2" title="視圖">視圖</a></li><li><a href="#範本2" title="範本">範本</a></li></ul></li></ul></li></ul></div><div class="toc-menu"><a class="expand-toggle" href="#">Expand all</a><a class="back-to-top" href="#">Back to top</a><a class="go-to-bottom" href="#">Go to bottom</a></div>
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="top:17px;display:none;"  >
        <div class="toc"><ul class="nav"><li class=""><a href="#視圖、網址、範本" title="視圖、網址、範本">視圖、網址、範本</a><ul class="nav"><li><a href="#投票主題列表" title="投票主題列表">投票主題列表</a><ul class="nav"><li><a href="#網址" title="網址">網址</a></li><li><a href="#視圖" title="視圖">視圖</a></li><li><a href="#範本" title="範本">範本</a></li></ul></li><li><a href="#投票主題檢視" title="投票主題檢視">投票主題檢視</a><ul class="nav"><li><a href="#網址1" title="網址">網址</a></li><li><a href="#視圖1" title="視圖">視圖</a></li><li><a href="#範本1" title="範本">範本</a></li></ul></li><li class=""><a href="#投票" title="投票">投票</a><ul class="nav"><li><a href="#網址2" title="網址">網址</a></li><li class=""><a href="#視圖2" title="視圖">視圖</a></li><li><a href="#範本2" title="範本">範本</a></li></ul></li></ul></li></ul></div><div class="toc-menu"><a class="expand-toggle" href="#">Expand all</a><a class="back-to-top" href="#">Back to top</a><a class="go-to-bottom" href="#">Go to bottom</a></div>
    </div>
