{% extends "base.html" %}

{% block title %}My Blog{% endblock %}

{% load tz %}

{% block content %}
<h1>創意秀評分情況</h1>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>姓名</th>
      <th>{{show_groups|length}}</th>
      {% for group in show_groups %}
      <th>
        {% if group.done %}
          <a href="/show/detail/{{round_id}}/{{group.id}}">{{group.name}}</a><br/>
        {% endif %}
      </th>
      {% endfor %}
    </tr>
    {% for enroll in lists %}
    <tr>
      <td>
        <span class="badge badge-secondary">{{ enroll.seat }}</span>
        {{ enroll.student.first_name }}
      </td>
      <td>
        {{ enroll.counter }}
      </td>
      {% for review in enroll.review %}
      <td>
        {% if review.done %}
        <span class="badge badge-success">V</span>
        {% else %}
        <span class="badge badge-danger">X</span>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}