{% extends "base.html" %}
{% block content %}
{% if lesson == "1" %}
<a href="/teacher/grade/0/1/1/{{classroom.id}}" role="btn" class='btn {% if typing == "0" and unit == "1" %}btn-info active{% endif %}'>12堂課</a>
<a href="/teacher/grade/0/1/2/{{classroom.id}}" role="btn" class='btn {% if typing == "0" and unit == "2" %}btn-info active{% endif %}'>實戰入門</a>
<a href="/teacher/grade/0/1/3/{{classroom.id}}" role="btn" class='btn {% if typing == "0" and unit == "3" %}btn-info active{% endif %}'>實戰進擊</a>
<a href="/teacher/grade/0/1/4/{{classroom.id}}" role="btn" class='btn {% if typing == "0" and unit == "4" %}btn-info active{% endif %}'>實戰高手</a>
{% elif lesson == "2" %}
<a href="/teacher/grade/0/2/1/{{classroom.id}}" role="btn" class='btn {% if typing == "0" %}btn-info active{% endif %}'>指定作業</a>
{% elif lesson == "3" %}
<a href="/teacher/grade/0/3/1/{{classroom.id}}" role="btn" class='btn {% if typing == "0" %}btn-info active{% endif %}'>指定作業</a>
{% elif lesson == "4" %}
<a href="/teacher/grade/0/4/1/{{classroom.id}}" role="btn" class='btn {% if typing == "0" %}btn-info active{% endif %}'>指定作業</a>
{% elif lesson == "5" %}
<a href="/teacher/grade/0/5/1/{{classroom.id}}" role="btn" class='btn {% if typing == "0" %}btn-info active{% endif %}'>指定作業</a>
{% endif %}
<a href="/teacher/grade/1/{{classroom.lesson}}/1/{{classroom.id}}" role="btn" class='btn {% if typing == "1" %}btn-info active{% endif %}'>自訂作業</a>
<a href="/teacher/grade/2/{{classroom.lesson}}/1/{{classroom.id}}" role="btn" class='btn {% if typing == "2" %}btn-info active{% endif %}'>檢核作業</a>
<a href="/teacher/grade/excel/{{typing}}/{{classroom.lesson}}/1/{{classroom.id}}" role="btn" class="btn btn-success active">匯出Excel</a>
<BR>
班級名稱：{{ classroom.name }}<BR>
<table class="table">
  <tr>
  <td>座號</td>
  <td>姓名</td>
  <td align="center">成績</td>    
                {% for assignment in lesson_list %}                    
                     <td align="center" style="padding:0px">{% if typing == "0" %}{{assignment.1}}{% else %}{{assignment.title}}{% endif %}<BR><button type="button" class="btn btn-warning btn-circle">{% if typing == "0" %}{{assignment.0}}{% else %}{{forloop.counter}}{% endif %}</button></td>              
                {% endfor %}
    <td align="center"><button type="button" class="btn btn-warning btn-circle">心得</button></td>
</tr>
{% for enroll, enroll_score, memo, grade in data %}
<tr>
  <td>{{enroll.seat}}</td>
  <td nowrap>{{enroll.student.first_name}}</td>
  <td align=center>{{grade}}</td>
  {% for score, index in enroll_score %}
  <td align=center>{% if score == -1 %}V{% else %}{{score}}{% endif %}</td>
  {% endfor %}
  <td align=center>{{memo}}</td>
</tr>
{% endfor %}
  </table>
{% endblock %}