{% extends "base.html" %}
{% load tag %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/starrr/starrr.css">
<script type="text/javascript" src="/static/starrr/starrr.js"></script>
{% endblock %}

{% block content %}
<table class="table">
  <tr>
    <td>學生</td>
    <td>組別</td>
    <td>功能</td>
  </tr>
  {% for list in classmate_work %}
  <tr>
    <td>{{list.0.seat}}){{list.0.student.first_name}}</td>
    <td>{{list.2}}</td>
    <td>
      <div class="stars starrr score" data-rating="{{ list.1.score }}" data-stuid="{{ list.0.student_id }}" data-workid="{% if list.1.id %}{{ list.1.id }}{% else %}0{% endif %}"></div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block domready %}
  $('.starrr').starrr({
    change: function(e, value) {
      var $this = $(this);
      $.post('/teacher/work3/score/{{classroom.lesson}}/{{classroom.id}}/{{index}}/', {
        workid: $this.data('workid'),
        stuid: $this.data('stuid'),
        score: value ? value : 0,
      }, function(data){
        if (!$this.data('workid')) 
          $this.data('workid', data.workid);
      });
      console.log(value);
    },
  });
  /*
  $('.starrr').on('starrr:change', function(e, value) {
    var $this = $(this);
    $.post('/teacher/work3/score/{{classroom.lesson}}/{{classroom.id}}/{{index}}/', {
      workid: $this.data('workid'),
      stuid: $this.data('stuid'),
      score: value ? value : 0,
    }, function(data){
      if (!$this.data('workid')) 
        $this.data('workid', data.workid);
    });
    console.log(value);
  });
  */
{% endblock %}